# Udacity Data Engineering Capstone Project

## US Immigrations, Demographics and Airports

The project focuses on the provision of a database containing United States (US) immigration from 2016, city demographics from 2015 and airport data for data analysts, statisticians or researcher within that field.

----

## Table of Contents

1. [Scope](#scope)
1. [Tools & Technologies](#tools-tech)
1. [Data Wrangling](#wrangling)
<br>3.1. [Gathering and Assessing Data](#gathering-assessing)
<br>3.2. [Cleaning Data](#cleaning)
<br>3.2.1. [I94 Immigration](#c-immigration)
<br>3.2.2. [Airport Codes](#c-airport)
<br>3.2.3. [US City Demographic](#c-demographic)
1. [Data Model Definition](#model-definition)
<br>4.1. [Conceptual Data Model](#model-conceptual)
<br>4.2. [ETL Definition](#etl-definition)
1. [Run ETL Pipeline](#etl-run)
<br>5.1. [Data Model Creation](#model-creation)
<br>5.2. [Data Dictionary ](#dict)
<br>5.3. [Data Quality Checks](#quality)
1. [Further Scenarios and Approaches](#scenarios)
1. [Known Issues](#issues)

In [1]:
from pathlib import Path
import collections
import os 
import re
import datetime
import pandas as pd
import json
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql import types as T
from pyspark.sql.window import Window
import utils

<a id='scope'></a>
## 1. Scope

The goal of the project is to provide a database containing United States (US) immigration from 2016, city demographics from 2015 and airport data for data analysts, statisticians or researcher within that field.

The process of the database creation is outlined and implemented in this notebook.

The database will consist of analytic tables stored in a data lake in Apache parquet format. Fact and dimension tables will be created (star schema). For following use cases and queries the database could be used:
1. Is there any relation between US immigrations and US city demographics?
1. How long is the average stay of immigrants in the US and how does it vary per month?
1. Which Airport is the most frequent one used by immigrants?
1. Which type of visa is most popular?
1. How does the city population impact the number and size of Airports in a municipality?

<a id='tools-tech'></a>
## 2. Tools & Technologies
1. Python with Pandas for data wrangling of small datasets
1. Pyspark for data wrangling and ETL-steps to allow parellel processing of large datasets
1. Parquet for storing analytics table
1. Optional: AWS S3 as storage (data lake)

The tools and technologies were chosen, because Pandas allows data processing of small datasets. Pyspark was chosen, because it's made for processing of large datasets.

Pandas as well as Pyspark allow reading the format of the raw datasets provided. To store the target data model as star schema for OLAP and BI purposes, the Apache parquet format was chosen. Parquet allows storing data in columnar format (column oriented) and to partition the data, which will make the analytics queries, processing and joins using Pypsark in a compute cluster environment faster. For data storage AWS S3 was chosen, because it's an objet store suitable as data lake with a great performance and interoperability.

In [2]:
### Constants used within the project below

## ------ EDIT THE FOLLOWING CONSTANTS AS REQUIRED ------

# Set this to True, if Udacity workspace is used. For Udacity workspace symlinks will be created automatically
UDACITY_WS = True
# Set this to True, if data is stored on S3
S3 = False
# Set this to True, to use only a sample file for world temparature dataset
SAMPLE_TEMPERATURE = False
# Set this to True, to use only a sample file for US immigration dataset
SAMPLE_IMMIGRATION = True
# Set this to True, to use only a single month file for US immigration dataset
SAMPLE_IMMIGRATION_SAS = False

In [3]:
if UDACITY_WS:
    !ln -s /data/18-83510-I94-Data-2016/ /home/workspace/data/raw/
    !ln -s /data/I94_SAS_Labels_Descriptions.SAS /home/workspace/data/raw/
    !ln -s /data2/GlobalLandTemperaturesByCity.csv /home/workspace/data/raw/

ln: failed to create symbolic link '/home/workspace/data/raw/18-83510-I94-Data-2016': File exists
ln: failed to create symbolic link '/home/workspace/data/raw/I94_SAS_Labels_Descriptions.SAS': File exists
ln: failed to create symbolic link '/home/workspace/data/raw/GlobalLandTemperaturesByCity.csv': File exists

In [4]:
## ------ DO NOT CHANGE THE FOLLOWING CONSTANTS ------

# Relative data dirs
DATA_RAW = Path(f"s3://{utils.S3_BUCKET_NAME}/raw") if S3 else Path("data/raw")
DATA_RAW_AIRPORT_CSV = DATA_RAW / "airport-codes.csv"
DATA_RAW_IMMIGRATION_SAMPLE_CSV = DATA_RAW / "immigration_data_sample.csv"
DATA_RAW_IMMIGRATION_SAS_DIR = DATA_RAW / "18-83510-I94-Data-2016"
DATA_RAW_IMMIGRATION_SAS_DATA_DICT = DATA_RAW / "I94_SAS_Labels_Descriptions.SAS"
DATA_RAW_TEMP_CSV = DATA_RAW / "GlobalLandTemperaturesByCity.csv"
DATA_RAW_TEMP_SAMPLE_CSV = DATA_RAW / "global-land-temperature-by-city-sample.csv"
DATA_RAW_US_DEMO_CSV = DATA_RAW / "us-cities-demographics.csv"

DATA_CLEANED = Path(f"s3://{S3_BUCKET_NAME}/cleaned") if S3 else Path("data/cleaned")
DATA_CLEANED_IMMIGRATION = DATA_CLEANED / "immigration"
if SAMPLE_IMMIGRATION:
    DATA_CLEANED_IMMIGRATION_PARQUET = str(DATA_CLEANED_IMMIGRATION / "sample_csv_pq")
elif SAMPLE_IMMIGRATION_SAS:
    DATA_CLEANED_IMMIGRATION_PARQUET = str(DATA_CLEANED_IMMIGRATION / "sample_month_pq")
else:
    DATA_CLEANED_IMMIGRATION_PARQUET = str(DATA_CLEANED_IMMIGRATION / "complete_pq")
DATA_CLEANED_AIRPORT_PARQUET = str(DATA_CLEANED / "airport_pq")
DATA_CLEANED_DEMO_PARQUET = str(DATA_CLEANED / "demographic_pq")

DATA_PROCESSED = Path(f"s3://{S3_BUCKET_NAME}/processed") if S3 else Path("data/processed")
DATA_PROCESSED_IMMIGRATION_DATA_DICT = DATA_PROCESSED / "immigration_data_dict"
if SAMPLE_IMMIGRATION:
    DATA_PROCESSED_IMMIGRATION = DATA_PROCESSED / "immigration_sample_csv"
elif SAMPLE_IMMIGRATION_SAS:
    DATA_PROCESSED_IMMIGRATION = DATA_PROCESSED / "immigration_sample_month"
else:
    DATA_PROCESSED_IMMIGRATION = DATA_PROCESSED / "immigration_complete"
DATA_PROCESSED_F_IMMIGRATIONS = str(DATA_PROCESSED_IMMIGRATION / "f_us_immigrations_pq")
DATA_PROCESSED_D_AIRPORTS = str(DATA_PROCESSED / "d_us_airports_pq")
DATA_PROCESSED_D_DEMOGRAPHIC = str(DATA_PROCESSED / "d_us_demographics_pq")
DATA_PROCESSED_D_VISITORS = str(DATA_PROCESSED / "d_visitors_pq")

for d in [DATA_RAW_IMMIGRATION_SAS_DIR, DATA_PROCESSED_IMMIGRATION_DATA_DICT, DATA_PROCESSED_IMMIGRATION]:
    os.makedirs(d, exist_ok=True)

In [5]:
### Initialize Spark - Adapt, if using AWS EMR Spark Cluster
spark = SparkSession.builder \
    .config("spark.jars.repositories", "https://repos.spark-packages.org/") \
    .config("spark.jars.packages", "saurfang:spark-sas7bdat:2.0.0-s_2.11") \
    .enableHiveSupport() \
    .getOrCreate()

<a id='wrangling'></a>
## 3. Data Wrangling

<a id='gathering-assessing'></a>
### 3.1. Gathering and Assessing Data

The following datasets will be used:
* I94 Immigration: This dataset comes from the [US National Tourism and Trade Office](https://travel.trade.gov/research/reports/i94/historical/2016.html). It consists of:
    * Sample CSV file containing 1000 rows
    * SAS files partioned by month for the complete year 2016
    * Data dictionary 
* World Temperature: This dataset came from [Kaggle](https://www.kaggle.com/berkeleyearth/climate-change-earth-surface-temperature-data). It provides monthly average temparature data for cities around the global.
* Airport Codes: This is a simple table of airport codes and corresponding cities. It comes from [here](https://datahub.io/core/airport-codes#data).
* US City Demographic: This data comes from [OpenSoft](https://public.opendatasoft.com/explore/dataset/us-cities-demographics/export/). It covers information about demographic of cities collect by the US Census Bureau's 2015 American Community Survey.

The data will be gathered and explored using Pandas and Pyspark in the following. This will cover visual and programmatic assessment in order to identify quality and tidiness issues. The findings will be summarized and cleaning actions defined within the next section.

**Load the datasets initially to allow cross-dataset checks**

In [6]:
df_immigration_sample = pd.read_csv(DATA_RAW_IMMIGRATION_SAMPLE_CSV)
df_temp = pd.read_csv(DATA_RAW_TEMP_SAMPLE_CSV) if SAMPLE_TEMPERATURE else pd.read_csv(DATA_RAW_TEMP_CSV)
df_airport = pd.read_csv(DATA_RAW_AIRPORT_CSV)
df_demo = pd.read_csv(DATA_RAW_US_DEMO_CSV, sep=";")

**I94 Immigration**

In [7]:
df_immigration_sample.head()

,Unnamed: 0,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,2027561,4084316.0,2016.0,4.0,209.0,209.0,HHW,20566.0,1.0,HI,...,NaN,M,1955.0,07202016,F,NaN,JL,5.658267e+10,00782,WT
1,2171295,4422636.0,2016.0,4.0,582.0,582.0,MCA,20567.0,1.0,TX,...,NaN,M,1990.0,10222016,M,NaN,*GA,9.436200e+10,XBLNG,B2
2,589494,1195600.0,2016.0,4.0,148.0,112.0,OGG,20551.0,1.0,FL,...,NaN,M,1940.0,07052016,M,NaN,LH,5.578047e+10,00464,WT
3,2631158,5291768.0,2016.0,4.0,297.0,297.0,LOS,20572.0,1.0,CA,...,NaN,M,1991.0,10272016,M,NaN,QR,9.478970e+10,00739,B2
4,3032257,985523.0,2016.0,4.0,111.0,111.0,CHM,20550.0,3.0,NY,...,NaN,M,1997.0,07042016,F,NaN,NaN,4.232257e+10,LAND,WT

In [8]:
df_immigration_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 29 columns):
Unnamed: 0    1000 non-null int64
cicid         1000 non-null float64
i94yr         1000 non-null float64
i94mon        1000 non-null float64
i94cit        1000 non-null float64
i94res        1000 non-null float64
i94port       1000 non-null object
arrdate       1000 non-null float64
i94mode       1000 non-null float64
i94addr       941 non-null object
depdate       951 non-null float64
i94bir        1000 non-null float64
i94visa       1000 non-null float64
count         1000 non-null float64
dtadfile      1000 non-null int64
visapost      382 non-null object
occup         4 non-null object
entdepa       1000 non-null object
entdepd       954 non-null object
entdepu       0 non-null float64
matflag       954 non-null object
biryear       1000 non-null float64
dtaddto       1000 non-null object
gender        859 non-null object
insnum        35 non-null float64
airline       967 non-null object
admnum        1000 non-null float64
fltno         992 non-null object
visatype      1000 non-null object
dtypes: float64(15), int64(2), object(12)
memory usage: 226.6+ KB

In [9]:
df_immigration_sample.describe()

,Unnamed: 0,cicid,i94yr,i94mon,i94cit,i94res,arrdate,i94mode,depdate,i94bir,i94visa,count,dtadfile,entdepu,biryear,insnum,admnum
count,1.000000e+03,1.000000e+03,1000.0,1000.0,1000.000000,1000.00000,1000.000000,1000.000000,951.000000,1000.000000,1000.000000,1000.0,1.000000e+03,0.0,1000.000000,35.000000,1.000000e+03
mean,1.542097e+06,3.040461e+06,2016.0,4.0,302.928000,298.26200,20559.680000,1.078000,20575.037855,42.382000,1.859000,1.0,2.016042e+07,NaN,1973.618000,3826.857143,6.937237e+10
std,9.152879e+05,1.799818e+06,0.0,0.0,206.485285,202.12039,8.995027,0.485955,24.211234,17.903424,0.386353,0.0,4.951657e+01,NaN,17.903424,221.742583,2.338134e+10
min,1.092500e+04,1.320800e+04,2016.0,4.0,103.000000,103.00000,20545.000000,1.000000,20547.000000,1.000000,1.000000,1.0,2.016040e+07,NaN,1923.000000,3468.000000,0.000000e+00
25%,7.214422e+05,1.412170e+06,2016.0,4.0,135.000000,131.00000,20552.000000,1.000000,20561.000000,30.750000,2.000000,1.0,2.016041e+07,NaN,1961.000000,3668.000000,5.599301e+10
50%,1.494568e+06,2.941176e+06,2016.0,4.0,213.000000,213.00000,20560.000000,1.000000,20570.000000,42.000000,2.000000,1.0,2.016042e+07,NaN,1974.000000,3887.000000,5.931477e+10
75%,2.360901e+06,4.694151e+06,2016.0,4.0,438.000000,438.00000,20567.250000,1.000000,20580.000000,55.000000,2.000000,1.0,2.016042e+07,NaN,1985.250000,3943.000000,9.343623e+10
max,3.095749e+06,6.061994e+06,2016.0,4.0,746.000000,696.00000,20574.000000,9.000000,20715.000000,93.000000,3.000000,1.0,2.016080e+07,NaN,2015.000000,4686.000000,9.502151e+10

Switch to Spark to avoid implementation in Pandas to be transfered to Spark, because SAS files are very large

In [10]:
sas_files = os.listdir(DATA_RAW_IMMIGRATION_SAS_DIR)
sas_files

['i94_apr16_sub.sas7bdat',
 'i94_sep16_sub.sas7bdat',
 'i94_nov16_sub.sas7bdat',
 'i94_mar16_sub.sas7bdat',
 'i94_jun16_sub.sas7bdat',
 'i94_aug16_sub.sas7bdat',
 'i94_may16_sub.sas7bdat',
 'i94_jan16_sub.sas7bdat',
 'i94_oct16_sub.sas7bdat',
 'i94_jul16_sub.sas7bdat',
 'i94_feb16_sub.sas7bdat',
 'i94_dec16_sub.sas7bdat']

In [11]:
def get_immigration_df(sas_files):
    # Pyspark 3.x: df_immigration = spark.read.format('com.github.saurfang.sas.spark').load(sas_data_dir, pathGlobFilter="*.sas7bdat")
    for i, f in enumerate(sas_files): 
        if i == 0:
            if SAMPLE_IMMIGRATION:
                df = spark.read.option("header", True).csv(str(DATA_RAW_IMMIGRATION_SAMPLE_CSV))
            else:
                df = spark.read.format('com.github.saurfang.sas.spark').load(f"{DATA_RAW_IMMIGRATION_SAS_DIR / f}")
            continue
        if SAMPLE_IMMIGRATION_SAS or SAMPLE_IMMIGRATION:
            break
        df_month = spark.read.format('com.github.saurfang.sas.spark').load(f"{DATA_RAW_IMMIGRATION_SAS_DIR / f}")
        df = df.unionByName(df_month)
    return df

In [12]:
df_immigration = get_immigration_df(sas_files)
df_immigration.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- cicid: string (nullable = true)
 |-- i94yr: string (nullable = true)
 |-- i94mon: string (nullable = true)
 |-- i94cit: string (nullable = true)
 |-- i94res: string (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: string (nullable = true)
 |-- i94mode: string (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: string (nullable = true)
 |-- i94bir: string (nullable = true)
 |-- i94visa: string (nullable = true)
 |-- count: string (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: string (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: string (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

In [13]:
df_immigration.count()

1000

In [14]:
len(df_immigration.columns)

29

In [15]:
df_immigration.head(5)

[Row(_c0='2027561', cicid='4084316.0', i94yr='2016.0', i94mon='4.0', i94cit='209.0', i94res='209.0', i94port='HHW', arrdate='20566.0', i94mode='1.0', i94addr='HI', depdate='20573.0', i94bir='61.0', i94visa='2.0', count='1.0', dtadfile='20160422', visapost=None, occup=None, entdepa='G', entdepd='O', entdepu=None, matflag='M', biryear='1955.0', dtaddto='07202016', gender='F', insnum=None, airline='JL', admnum='56582674633.0', fltno='00782', visatype='WT'),
 Row(_c0='2171295', cicid='4422636.0', i94yr='2016.0', i94mon='4.0', i94cit='582.0', i94res='582.0', i94port='MCA', arrdate='20567.0', i94mode='1.0', i94addr='TX', depdate='20568.0', i94bir='26.0', i94visa='2.0', count='1.0', dtadfile='20160423', visapost='MTR', occup=None, entdepa='G', entdepd='R', entdepu=None, matflag='M', biryear='1990.0', dtaddto='10222016', gender='M', insnum=None, airline='*GA', admnum='94361995930.0', fltno='XBLNG', visatype='B2'),
 Row(_c0='589494', cicid='1195600.0', i94yr='2016.0', i94mon='4.0', i94cit='148.0', i94res='112.0', i94port='OGG', arrdate='20551.0', i94mode='1.0', i94addr='FL', depdate='20571.0', i94bir='76.0', i94visa='2.0', count='1.0', dtadfile='20160407', visapost=None, occup=None, entdepa='G', entdepd='O', entdepu=None, matflag='M', biryear='1940.0', dtaddto='07052016', gender='M', insnum=None, airline='LH', admnum='55780468433.0', fltno='00464', visatype='WT'),
 Row(_c0='2631158', cicid='5291768.0', i94yr='2016.0', i94mon='4.0', i94cit='297.0', i94res='297.0', i94port='LOS', arrdate='20572.0', i94mode='1.0', i94addr='CA', depdate='20581.0', i94bir='25.0', i94visa='2.0', count='1.0', dtadfile='20160428', visapost='DOH', occup=None, entdepa='G', entdepd='O', entdepu=None, matflag='M', biryear='1991.0', dtaddto='10272016', gender='M', insnum=None, airline='QR', admnum='94789696030.0', fltno='00739', visatype='B2'),
 Row(_c0='3032257', cicid='985523.0', i94yr='2016.0', i94mon='4.0', i94cit='111.0', i94res='111.0', i94port='CHM', arrdate='20550.0', i94mode='3.0', i94addr='NY', depdate='20553.0', i94bir='19.0', i94visa='2.0', count='1.0', dtadfile='20160406', visapost=None, occup=None, entdepa='Z', entdepd='K', entdepu=None, matflag='M', biryear='1997.0', dtaddto='07042016', gender='F', insnum=None, airline=None, admnum='42322572633.0', fltno='LAND', visatype='WT')]

In [16]:
def print_null_nan_values(df):
    df.select([F.count(F.when(F.isnan(c) |  F.col(c).isNull(), c)).alias(c) for c in df.columns if "date" not in c]).show()

In [17]:
def print_null_values_date(df):
    df.select([F.count(F.when( F.col(c).isNull(), c)).alias(c) for c in df.columns if "date" in c]).show()

In [18]:
print_null_nan_values(df_immigration)

+---+-----+-----+------+------+------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+-------+------+------+-------+------+-----+--------+
|_c0|cicid|i94yr|i94mon|i94cit|i94res|i94port|i94mode|i94addr|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear|dtaddto|gender|insnum|airline|admnum|fltno|visatype|
+---+-----+-----+------+------+------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+-------+------+------+-------+------+-----+--------+
|  0|    0|    0|     0|     0|     0|      0|      0|     59|     0|      0|    0|       0|     618|  996|      0|     46|   1000|     46|      0|      0|   141|   965|     33|     0|    8|       0|
+---+-----+-----+------+------+------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+-------+------+------+-------+------+-----+--------+

In [19]:
print_null_values_date(df_immigration)

+-------+-------+
|arrdate|depdate|
+-------+-------+
|      0|     49|
+-------+-------+

In [20]:
df_immigration.filter( F.col("i94addr").isNull()).head(5)

[Row(_c0='1339656', cicid='2711583.0', i94yr='2016.0', i94mon='4.0', i94cit='148.0', i94res='112.0', i94port='FTL', arrdate='20559.0', i94mode='2.0', i94addr=None, depdate='20565.0', i94bir='54.0', i94visa='2.0', count='1.0', dtadfile='20160415', visapost=None, occup=None, entdepa='G', entdepd='O', entdepu=None, matflag='M', biryear='1962.0', dtaddto='07132016', gender='F', insnum=None, airline='VES', admnum='56175860733.0', fltno='93724', visatype='WT'),
 Row(_c0='2938436', cicid='5960799.0', i94yr='2016.0', i94mon='4.0', i94cit='245.0', i94res='245.0', i94port='SAI', arrdate='20545.0', i94mode='1.0', i94addr=None, depdate='20550.0', i94bir='30.0', i94visa='2.0', count='1.0', dtadfile='20160615', visapost=None, occup=None, entdepa='P', entdepd='D', entdepu=None, matflag='M', biryear='1986.0', dtaddto='04132016', gender='M', insnum='3882', airline='MU', admnum='44162582033.0', fltno='00763', visatype='CP'),
 Row(_c0='1808498', cicid='3669540.0', i94yr='2016.0', i94mon='4.0', i94cit='129.0', i94res='585.0', i94port='BAL', arrdate='20564.0', i94mode='1.0', i94addr=None, depdate='20576.0', i94bir='22.0', i94visa='2.0', count='1.0', dtadfile='20160420', visapost=None, occup=None, entdepa='G', entdepd='O', entdepu=None, matflag='M', biryear='1994.0', dtaddto='07182016', gender='M', insnum=None, airline='WN', admnum='56486704133.0', fltno='00812', visatype='WT'),
 Row(_c0='426957', cicid='861557.0', i94yr='2016.0', i94mon='4.0', i94cit='209.0', i94res='209.0', i94port='SDP', arrdate='20549.0', i94mode='1.0', i94addr=None, depdate='20552.0', i94bir='46.0', i94visa='2.0', count='1.0', dtadfile='20160405', visapost=None, occup=None, entdepa='G', entdepd='I', entdepu=None, matflag='M', biryear='1970.0', dtaddto='07032016', gender='M', insnum=None, airline='JL', admnum='55663229533.0', fltno='00066', visatype='WT'),
 Row(_c0='2951108', cicid='5973747.0', i94yr='2016.0', i94mon='4.0', i94cit='252.0', i94res='209.0', i94port='SAI', arrdate='20552.0', i94mode='1.0', i94addr=None, depdate='20554.0', i94bir='65.0', i94visa='2.0', count='1.0', dtadfile='20160615', visapost=None, occup=None, entdepa='A', entdepd='D', entdepu=None, matflag='M', biryear='1951.0', dtaddto='05222016', gender='M', insnum='3971', airline='DL', admnum='47291108533.0', fltno='00298', visatype='GMT')]

Read the data dictionary to understand the data

In [21]:
with open(DATA_RAW_IMMIGRATION_SAS_DATA_DICT) as f:
    immigration_labels = f.read()

In [22]:
immigration_labels

"libname library 'Your file location' ;\nproc format library=library ;\n\n/* I94YR - 4 digit year */\n\n/* I94MON - Numeric month */\n\n/* I94CIT & I94RES - This format shows all the valid and invalid codes for processing */\n  value i94cntyl\n   582 =  'MEXICO Air Sea, and Not Reported (I-94, no land arrivals)'\n   236 =  'AFGHANISTAN'\n   101 =  'ALBANIA'\n   316 =  'ALGERIA'\n   102 =  'ANDORRA'\n   324 =  'ANGOLA'\n   529 =  'ANGUILLA'\n   518 =  'ANTIGUA-BARBUDA'\n   687 =  'ARGENTINA '\n   151 =  'ARMENIA'\n   532 =  'ARUBA'\n   438 =  'AUSTRALIA'\n   103 =  'AUSTRIA'\n   152 =  'AZERBAIJAN'\n   512 =  'BAHAMAS'\n   298 =  'BAHRAIN'\n   274 =  'BANGLADESH'\n   513 =  'BARBADOS'\n   104 =  'BELGIUM'\n   581 =  'BELIZE'\n   386 =  'BENIN'\n   509 =  'BERMUDA'\n   153 =  'BELARUS'\n   242 =  'BHUTAN'\n   688 =  'BOLIVIA'\n   717 =  'BONAIRE, ST EUSTATIUS, SABA' \n   164 =  'BOSNIA-HERZEGOVINA'\n   336 =  'BOTSWANA'\n   689 =  'BRAZIL'\n   525 =  'BRITISH VIRGIN ISLANDS'\n   217 =  'BRUNEI'\n   105 =  'BULGARIA'\n   393 =  'BURKINA FASO'\n   243 =  'BURMA'\n   375 =  'BURUNDI'\n   310 =  'CAMEROON'\n   326 =  'CAPE VERDE'\n   526 =  'CAYMAN ISLANDS'\n   383 =  'CENTRAL AFRICAN REPUBLIC'\n   384 =  'CHAD'\n   690 =  'CHILE'\n   245 =  'CHINA, PRC'\n   721 =  'CURACAO' \n   270 =  'CHRISTMAS ISLAND'\n   271 =  'COCOS ISLANDS'\n   691 =  'COLOMBIA'\n   317 =  'COMOROS'\n   385 =  'CONGO'\n   467 =  'COOK ISLANDS'\n   575 =  'COSTA RICA'\n   165 =  'CROATIA'\n   584 =  'CUBA'\n   218 =  'CYPRUS'\n   140 =  'CZECH REPUBLIC'\n   723 =  'FAROE ISLANDS (PART OF DENMARK)'  \n   108 =  'DENMARK'\n   322 =  'DJIBOUTI'\n   519 =  'DOMINICA'\n   585 =  'DOMINICAN REPUBLIC'\n   240 =  'EAST TIMOR'\n   692 =  'ECUADOR'\n   368 =  'EGYPT'\n   576 =  'EL SALVADOR'\n   399 =  'EQUATORIAL GUINEA'\n   372 =  'ERITREA'\n   109 =  'ESTONIA'\n   369 =  'ETHIOPIA'\n   604 =  'FALKLAND ISLANDS'\n   413 =  'FIJI'\n   110 =  'FINLAND'\n   111 =  'FRANCE'\n   601 =  'FRENCH GUIANA'\n   411 =  'FRENCH POLYNESIA'\n   387 =  'GABON'\n   338 =  'GAMBIA'\n   758 =  'GAZA STRIP' \n   154 =  'GEORGIA'\n   112 =  'GERMANY'\n   339 =  'GHANA'\n   143 =  'GIBRALTAR'\n   113 =  'GREECE'\n   520 =  'GRENADA'\n   507 =  'GUADELOUPE'\n   577 =  'GUATEMALA'\n   382 =  'GUINEA'\n   327 =  'GUINEA-BISSAU'\n   603 =  'GUYANA'\n   586 =  'HAITI'\n   726 =  'HEARD AND MCDONALD IS.'\n   149 =  'HOLY SEE/VATICAN'\n   528 =  'HONDURAS'\n   206 =  'HONG KONG'\n   114 =  'HUNGARY'\n   115 =  'ICELAND'\n   213 =  'INDIA'\n   759 =  'INDIAN OCEAN AREAS (FRENCH)' \n   729 =  'INDIAN OCEAN TERRITORY' \n   204 =  'INDONESIA'\n   249 =  'IRAN'\n   250 =  'IRAQ'\n   116 =  'IRELAND'\n   251 =  'ISRAEL'\n   117 =  'ITALY'\n   388 =  'IVORY COAST'\n   514 =  'JAMAICA'\n   209 =  'JAPAN'\n   253 =  'JORDAN'\n   201 =  'KAMPUCHEA'\n   155 =  'KAZAKHSTAN'\n   340 =  'KENYA'\n   414 =  'KIRIBATI'\n   732 =  'KOSOVO' \n   272 =  'KUWAIT'\n   156 =  'KYRGYZSTAN'\n   203 =  'LAOS'\n   118 =  'LATVIA'\n   255 =  'LEBANON'\n   335 =  'LESOTHO'\n   370 =  'LIBERIA'\n   381 =  'LIBYA'\n   119 =  'LIECHTENSTEIN'\n   120 =  'LITHUANIA'\n   121 =  'LUXEMBOURG'\n   214 =  'MACAU'\n   167 =  'MACEDONIA'\n   320 =  'MADAGASCAR'\n   345 =  'MALAWI'\n   273 =  'MALAYSIA'\n   220 =  'MALDIVES'\n   392 =  'MALI'\n   145 =  'MALTA'\n   472 =  'MARSHALL ISLANDS'\n   511 =  'MARTINIQUE'\n   389 =  'MAURITANIA'\n   342 =  'MAURITIUS'\n   760 =  'MAYOTTE (AFRICA - FRENCH)' \n   473 =  'MICRONESIA, FED. STATES OF'\n   157 =  'MOLDOVA'\n   122 =  'MONACO'\n   299 =  'MONGOLIA'\n   735 =  'MONTENEGRO' \n   521 =  'MONTSERRAT'\n   332 =  'MOROCCO'\n   329 =  'MOZAMBIQUE'\n   371 =  'NAMIBIA'\n   440 =  'NAURU'\n   257 =  'NEPAL'\n   123 =  'NETHERLANDS'\n   508 =  'NETHERLANDS ANTILLES'\n   409 =  'NEW CALEDONIA'\n   464 =  'NEW ZEALAND'\n   579 =  'NICARAGUA'\n   390 =  'NIGER'\n   343 =  'NIGERIA'\n   470 =  'NIUE'\n   275 =  'NORTH KOREA'\n   124 =  'NORWAY'\n   256 =  'OMAN'\n   258 =  'PAKISTAN'\n   474 =  'PALAU'\n   743 =  'PALESTINE' \n   504 =  'PANAMA'\n   441 =  'PAPUA NEW GUINEA'\n   693 =  'PARAGUAY'\n   694 =  'PERU'\n   260 =  'PHILIPPINES'\n   416 =  'PITCAIRN ISLANDS'\n   107 =  'POLAND'\n   126 =  'PORTUGAL'\n   297 =  'QATAR'\n   748 =  'REPUBLIC OF SOUTH SUDAN'\n   321 =  'REUNION'\n   127 =  'ROMANIA'\n   158 =  'RUSSIA'\n   376 =  'RWANDA'\n   128 =  'SAN MARINO'\n   330 =  'SAO TOME AND PRINCIPE'\n   261 =  'SAUDI ARABIA'\n   391 =  'SENEGAL'\n   142 =  'SERBIA AND MONTENEGRO'\n   745 =  'SERBIA' \n   347 =  'SEYCHELLES'\n   348 =  'SIERRA LEONE'\n   207 =  'SINGAPORE'\n   141 =  'SLOVAKIA'\n   166 =  'SLOVENIA'\n   412 =  'SOLOMON ISLANDS'\n   397 =  'SOMALIA'\n   373 =  'SOUTH AFRICA'\n   276 =  'SOUTH KOREA'\n   129 =  'SPAIN'\n   244 =  'SRI LANKA'\n   346 =  'ST. HELENA'\n   522 =  'ST. KITTS-NEVIS'\n   523 =  'ST. LUCIA'\n   502 =  'ST. PIERRE AND MIQUELON'\n   524 =  'ST. VINCENT-GRENADINES'\n   716 =  'SAINT BARTHELEMY' \n   736 =  'SAINT MARTIN' \n   749 =  'SAINT MAARTEN' \n   350 =  'SUDAN'\n   602 =  'SURINAME'\n   351 =  'SWAZILAND'\n   130 =  'SWEDEN'\n   131 =  'SWITZERLAND'\n   262 =  'SYRIA'\n   268 =  'TAIWAN'\n   159 =  'TAJIKISTAN'\n   353 =  'TANZANIA'\n   263 =  'THAILAND'\n   304 =  'TOGO'\n   417 =  'TONGA'\n   516 =  'TRINIDAD AND TOBAGO'\n   323 =  'TUNISIA'\n   264 =  'TURKEY'\n   161 =  'TURKMENISTAN'\n   527 =  'TURKS AND CAICOS ISLANDS'\n   420 =  'TUVALU'\n   352 =  'UGANDA'\n   162 =  'UKRAINE'\n   296 =  'UNITED ARAB EMIRATES'\n   135 =  'UNITED KINGDOM'\n   695 =  'URUGUAY'\n   163 =  'UZBEKISTAN'\n   410 =  'VANUATU'\n   696 =  'VENEZUELA'\n   266 =  'VIETNAM'\n   469 =  'WALLIS AND FUTUNA ISLANDS'\n   757 =  'WEST INDIES (FRENCH)' \n   333 =  'WESTERN SAHARA'\n   465 =  'WESTERN SAMOA'\n   216 =  'YEMEN'\n   139 =  'YUGOSLAVIA'\n   301 =  'ZAIRE'\n   344 =  'ZAMBIA'\n   315 =  'ZIMBABWE'\n   403 =  'INVALID: AMERICAN SAMOA'\n   712 =  'INVALID: ANTARCTICA' \n   700 =  'INVALID: BORN ON BOARD SHIP'\n   719 =  'INVALID: BOUVET ISLAND (ANTARCTICA/NORWAY TERR.)'\n   574 =  'INVALID: CANADA'\n   720 =  'INVALID: CANTON AND ENDERBURY ISLS' \n   106 =  'INVALID: CZECHOSLOVAKIA'\n   739 =  'INVALID: DRONNING MAUD LAND (ANTARCTICA-NORWAY)' \n   394 =  'INVALID: FRENCH SOUTHERN AND ANTARCTIC'\n   501 =  'INVALID: GREENLAND'\n   404 =  'INVALID: GUAM'\n   730 =  'INVALID: INTERNATIONAL WATERS' \n   731 =  'INVALID: JOHNSON ISLAND' \n   471 =  'INVALID: MARIANA ISLANDS, NORTHERN'\n   737 =  'INVALID: MIDWAY ISLANDS' \n   753 =  'INVALID: MINOR OUTLYING ISLANDS - USA'\n   740 =  'INVALID: NEUTRAL ZONE (S. ARABIA/IRAQ)' \n   710 =  'INVALID: NON-QUOTA IMMIGRANT'\n   505 =  'INVALID: PUERTO RICO'\n    0  =  'INVALID: STATELESS'\n   705 =  'INVALID: STATELESS'\n   583 =  'INVALID: UNITED STATES'\n   407 =  'INVALID: UNITED STATES'\n   999 =  'INVALID: UNKNOWN'\n   239 =  'INVALID: UNKNOWN COUNTRY'\n   134 =  'INVALID: USSR'\n   506 =  'INVALID: U.S. VIRGIN ISLANDS'\n   755 =  'INVALID: WAKE ISLAND'  \n   311 =  'Collapsed Tanzania (should not show)'\n   741 =  'Collapsed Curacao (should not show)'\n    54 =  'No Country Code (54)'\n   100 =  'No Country Code (100)'\n   187 =  'No Country Code (187)'\n   190 =  'No Country Code (190)'\n   200 =  'No Country Code (200)'\n   219 =  'No Country Code (219)'\n   238 =  'No Country Code (238)'\n   277 =  'No Country Code (277)'\n   293 =  'No Country Code (293)'\n   300 =  'No Country Code (300)'\n   319 =  'No Country Code (319)'\n   365 =  'No Country Code (365)'\n   395 =  'No Country Code (395)'\n   400 =  'No Country Code (400)'\n   485 =  'No Country Code (485)'\n   503 =  'No Country Code (503)'\n   589 =  'No Country Code (589)'\n   592 =  'No Country Code (592)'\n   791 =  'No Country Code (791)'\n   849 =  'No Country Code (849)'\n   914 =  'No Country Code (914)'\n   944 =  'No Country Code (944)'\n   996 =  'No Country Code (996)' ;\n\n\n/* I94PORT - This format shows all the valid and invalid codes for processing */\n  value $i94prtl\n   'ALC'\t=\t'ALCAN, AK             '\n   'ANC'\t=\t'ANCHORAGE, AK         '\n   'BAR'\t=\t'BAKER AAF - BAKER ISLAND, AK'\n   'DAC'\t=\t'DALTONS CACHE, AK     '\n   'PIZ'\t=\t'DEW STATION PT LAY DEW, AK'\n   'DTH'\t=\t'DUTCH HARBOR, AK      '\n   'EGL'\t=\t'EAGLE, AK             '\n   'FRB'\t=\t'FAIRBANKS, AK         '\n   'HOM'\t=\t'HOMER, AK             '           \n   'HYD'\t=\t'HYDER, AK             '\n   'JUN'\t=\t'JUNEAU, AK            '\n   '5KE'\t=\t'KETCHIKAN, AK'\n   'KET'\t=\t'KETCHIKAN, AK         '\n   'MOS'\t=\t'MOSES POINT INTERMEDIATE, AK'\n   'NIK'\t=\t'NIKISKI, AK           '\n   'NOM'\t=\t'NOM, AK               '\n   'PKC'\t=\t'POKER CREEK, AK       '\n   'ORI'\t=\t'PORT LIONS SPB, AK'\n   'SKA'\t=\t'SKAGWAY, AK           '\n   'SNP'\t=\t'ST. PAUL ISLAND, AK'\n   'TKI'\t=\t'TOKEEN, AK'\n   'WRA'\t=\t'WRANGELL, AK          '\n   'HSV'\t=\t'MADISON COUNTY - HUNTSVILLE, AL'\n   'MOB'\t=\t'MOBILE, AL            '\n   'LIA'\t=\t'LITTLE ROCK, AR (BPS)'\n   'ROG'\t=\t'ROGERS ARPT, AR'\n   'DOU'\t=\t'DOUGLAS, AZ           '\n   'LUK'\t=\t'LUKEVILLE, AZ         '\n   'MAP'\t=\t'MARIPOSA AZ           '\n   'NAC'\t=\t'NACO, AZ              '\n   'NOG'\t=\t'NOGALES, AZ           '\n   'PHO'\t=\t'PHOENIX, AZ           '\n   'POR'\t=\t'PORTAL, AZ'\n   'SLU'\t=\t'SAN LUIS, AZ          '\n   'SAS'\t=\t'SASABE, AZ            '\n   'TUC'\t=\t'TUCSON, AZ            '\n   'YUI'\t=\t'YUMA, AZ              ' \n   'AND'\t=\t'ANDRADE, CA           '\n   'BUR'\t=\t'BURBANK, CA'\n   'CAL'\t=\t'CALEXICO, CA          '\n   'CAO'\t=\t'CAMPO, CA             ' \n   'FRE'\t=\t'FRESNO, CA            '\n   'ICP'\t=\t'IMPERIAL COUNTY, CA   '\n   'LNB'\t=\t'LONG BEACH, CA         '\n   'LOS'\t=\t'LOS ANGELES, CA       '\n   'BFL'\t=\t'MEADOWS FIELD - BAKERSFIELD, CA'\n   'OAK'\t=\t'OAKLAND, CA ' \n   'ONT'\t=\t'ONTARIO, CA'\n   'OTM'\t=\t'OTAY MESA, CA          '\n   'BLT'\t=\t'PACIFIC, HWY. STATION, CA '\n   'PSP'\t=\t'PALM SPRINGS, CA'\n   'SAC'\t=\t'SACRAMENTO, CA        '\n   'SLS'\t=\t'SALINAS, CA (BPS)'\n   'SDP'\t=\t'SAN DIEGO, CA'\n   'SFR'\t=\t'SAN FRANCISCO, CA     '\n   'SNJ'\t=\t'SAN JOSE, CA          '\n   'SLO'\t=\t'SAN LUIS OBISPO, CA   '\n   'SLI'\t=\t'SAN LUIS OBISPO, CA (BPS)'\n   'SPC'\t=\t'SAN PEDRO, CA         '\n   'SYS'\t=\t'SAN YSIDRO, CA        '\n   'SAA'\t=\t'SANTA ANA, CA         '\n   'STO'\t=\t'STOCKTON, CA (BPS)'\n   'TEC'\t=\t'TECATE, CA            '\n   'TRV'\t=\t'TRAVIS-AFB, CA        '\n   'APA'\t=\t'ARAPAHOE COUNTY, CO'\n   'ASE'\t=\t'ASPEN, CO #ARPT'\n   'COS'\t=\t'COLORADO SPRINGS, CO'\n   'DEN'\t=\t'DENVER, CO            '\n   'DRO'\t=\t'LA PLATA - DURANGO, CO'\n   'BDL'\t=\t'BRADLEY INTERNATIONAL, CT'\n   'BGC'\t=\t'BRIDGEPORT, CT        '\n   'GRT'\t=\t'GROTON, CT            '\n   'HAR'\t=\t'HARTFORD, CT          '\n   'NWH'\t=\t'NEW HAVEN, CT         '\n   'NWL'\t=\t'NEW LONDON, CT        '\n   'TST'\t=\t'NEWINGTON DATA CENTER TEST, CT'\n   'WAS'\t=\t'WASHINGTON DC         '\n   'DOV'\t=\t'DOVER AFB, DE'\n   'DVD'\t=\t'DOVER-AFB, DE         '\n   'WLL'\t=\t'WILMINGTON, DE        '\n   'BOC'\t=\t'BOCAGRANDE, FL        '\n   'SRQ'\t=\t'BRADENTON - SARASOTA, FL'\n   'CAN'\t=\t'CAPE CANAVERAL, FL    '\n   'DAB'\t=\t'DAYTONA BEACH INTERNATIONAL, FL'\n   'FRN'\t=\t'FERNANDINA, FL        '\n   'FTL'\t=\t'FORT LAUDERDALE, FL   '\n   'FMY'\t=\t'FORT MYERS, FL        '\n   'FPF'\t=\t'FORT PIERCE, FL       '\n   'HUR'\t=\t'HURLBURT FIELD, FL'\n   'GNV'\t=\t'J R ALISON MUNI - GAINESVILLE, FL'\n   'JAC'\t=\t'JACKSONVILLE, FL      '\n   'KEY'\t=\t'KEY WEST, FL          '\n   'LEE'\t=\t'LEESBURG MUNICIPAL AIRPORT, FL'\n   'MLB'\t=\t'MELBOURNE, FL'\n   'MIA'\t=\t'MIAMI, FL             '\n   'APF'\t=\t'NAPLES, FL #ARPT'\n   'OPF'\t=\t'OPA LOCKA, FL'\n   'ORL'\t=\t'ORLANDO, FL           '\n   'PAN'\t=\t'PANAMA CITY, FL       '\n   'PEN'\t=\t'PENSACOLA, FL         '\n   'PCF'\t=\t'PORT CANAVERAL, FL    '\n   'PEV'\t=\t'PORT EVERGLADES, FL   '\n   'PSJ'\t=\t'PORT ST JOE, FL       '\n   'SFB'\t=\t'SANFORD, FL           '\n   'SGJ'\t=\t'ST AUGUSTINE ARPT, FL'\n   'SAU'\t=\t'ST AUGUSTINE, FL      '\n   'FPR'\t=\t'ST LUCIE COUNTY, FL'\n   'SPE'\t=\t'ST PETERSBURG, FL     '\n   'TAM'\t=\t'TAMPA, FL             '\n   'WPB'\t=\t'WEST PALM BEACH, FL   '\n   'ATL'\t=\t'ATLANTA, GA           '\n   'BRU'\t=\t'BRUNSWICK, GA         '\n   'AGS'\t=\t'BUSH FIELD - AUGUSTA, GA'\n   'SAV'\t=\t'SAVANNAH, GA          '\n   'AGA'\t=\t'AGANA, GU             '\n   'HHW'\t=\t'HONOLULU, HI          '\n   'OGG'\t=\t'KAHULUI - MAUI, HI'\n   'KOA'\t=\t'KEAHOLE-KONA, HI      '\n   'LIH'\t=\t'LIHUE, HI             '\n   'CID'\t=\t'CEDAR RAPIDS/IOWA CITY, IA'\n   'DSM'\t=\t'DES MOINES, IA'\n   'BOI'\t=\t'AIR TERM. (GOWEN FLD) BOISE, ID'\n   'EPI'\t=\t'EASTPORT, ID          '\n   'IDA'\t=\t'FANNING FIELD - IDAHO FALLS, ID'\n   'PTL'\t=\t'PORTHILL, ID          '\n   'SPI'\t=\t'CAPITAL - SPRINGFIELD, IL'\n   'CHI'\t=\t'CHICAGO, IL           '\n   'DPA'\t=\t'DUPAGE COUNTY, IL'\n   'PIA'\t=\t'GREATER PEORIA, IL'\n   'RFD'\t=\t'GREATER ROCKFORD, IL'\n   'UGN'\t=\t'MEMORIAL - WAUKEGAN, IL'\n   'GAR'\t=\t'GARY, IN              '\n   'HMM'\t=\t'HAMMOND, IN           '\n   'INP'\t=\t'INDIANAPOLIS, IN      '\n   'MRL'\t=\t'MERRILLVILLE, IN      '\n   'SBN'\t=\t'SOUTH BEND, IN'\n   'ICT'\t=\t'MID-CONTINENT - WITCHITA, KS'\n   'LEX'\t=\t'BLUE GRASS - LEXINGTON, KY'\n   'LOU'\t=\t'LOUISVILLE, KY        '\n   'BTN'\t=\t'BATON ROUGE, LA       '\n   'LKC'\t=\t'LAKE CHARLES, LA      '\n   'LAK'\t=\t'LAKE CHARLES, LA (BPS)'\n   'MLU'\t=\t'MONROE, LA'\n   'MGC'\t=\t'MORGAN CITY, LA       '\n   'NOL'\t=\t'NEW ORLEANS, LA       '\n   'BOS'\t=\t'BOSTON, MA            '\n   'GLO'\t=\t'GLOUCESTER, MA        '\n   'BED'\t=\t'HANSCOM FIELD - BEDFORD, MA'\n   'LYN'\t=\t'LYNDEN, WA            '\n   'ADW'\t=\t'ANDREWS AFB, MD'\n   'BAL'\t=\t'BALTIMORE, MD         '\n   'MKG'\t=\t'MUSKEGON, MD'\n   'PAX'\t=\t'PATUXENT RIVER, MD    '\n   'BGM'\t=\t'BANGOR, ME            '\n   'BOO'\t=\t'BOOTHBAY HARBOR, ME   '\n   'BWM'\t=\t'BRIDGEWATER, ME       '\n   'BCK'\t=\t'BUCKPORT, ME          '\n   'CLS'\t=\t'CALAIS, ME   '\n   'CRB'\t=\t'CARIBOU, ME           '\n   'COB'\t=\t'COBURN GORE, ME       '\n   'EST'\t=\t'EASTCOURT, ME         '\n   'EPT'\t=\t'EASTPORT MUNICIPAL, ME'\n   'EPM'\t=\t'EASTPORT, ME          '\n   'FOR'\t=\t'FOREST CITY, ME       '\n   'FTF'\t=\t'FORT FAIRFIELD, ME    '\n   'FTK'\t=\t'FORT KENT, ME         '\n   'HML'\t=\t'HAMIIN, ME            '\n   'HTM'\t=\t'HOULTON, ME           '\n   'JKM'\t=\t'JACKMAN, ME           '\n   'KAL'\t=\t'KALISPEL, MT          '\n   'LIM'\t=\t'LIMESTONE, ME         '\n   'LUB'\t=\t'LUBEC, ME             '\n   'MAD'\t=\t'MADAWASKA, ME         '\n   'POM'\t=\t'PORTLAND, ME          '\n   'RGM'\t=\t'RANGELEY, ME (BPS)'\n   'SBR'\t=\t'SOUTH BREWER, ME      '\n   'SRL'\t=\t'ST AURELIE, ME        '\n   'SPA'\t=\t'ST PAMPILE, ME        '\n   'VNB'\t=\t'VAN BUREN, ME         '\n   'VCB'\t=\t'VANCEBORO, ME         '\n   'AGN'\t=\t'ALGONAC, MI           '\n   'ALP'\t=\t'ALPENA, MI            '\n   'BCY'\t=\t'BAY CITY, MI          '\n   'DET'\t=\t'DETROIT, MI           '\n   'GRP'\t=\t'GRAND RAPIDS, MI'\n   'GRO'\t=\t'GROSSE ISLE, MI       '\n   'ISL'\t=\t'ISLE ROYALE, MI       '\n   'MRC'\t=\t'MARINE CITY, MI       '\n   'MRY'\t=\t'MARYSVILLE, MI        '\n   'PTK'\t=\t'OAKLAND COUNTY - PONTIAC, MI'\n   'PHU'\t=\t'PORT HURON, MI        '\n   'RBT'\t=\t'ROBERTS LANDING, MI   '\n   'SAG'\t=\t'SAGINAW, MI           '\n   'SSM'\t=\t'SAULT STE. MARIE, MI  '\n   'SCL'\t=\t'ST CLAIR, MI          '\n   'YIP'\t=\t'WILLOW RUN - YPSILANTI, MI'\n   'BAU'\t=\t'BAUDETTE, MN          '\n   'CAR'\t=\t'CARIBOU MUNICIPAL AIRPORT, MN'\n   'GTF'\t=\t'Collapsed into INT, MN'\n   'INL'\t=\t'Collapsed into INT, MN'\n   'CRA'\t=\t'CRANE LAKE, MN        '\n   'MIC'\t=\t'CRYSTAL MUNICIPAL AIRPORT, MN'\n   'DUL'\t=\t'DULUTH, MN            '\n   'ELY'\t=\t'ELY, MN               '\n   'GPM'\t=\t'GRAND PORTAGE, MN     '\n   'SVC'\t=\t'GRANT COUNTY - SILVER CITY, MN'\n   'INT'\t=\t'INT''L FALLS, MN      '\n   'LAN'\t=\t'LANCASTER, MN         '\n   'MSP'\t=\t'MINN./ST PAUL, MN     '\n   'LIN'\t=\t'NORTHERN SVC CENTER, MN   '\n   'NOY'\t=\t'NOYES, MN             '\n   'PIN'\t=\t'PINE CREEK, MN        '\n   '48Y'\t=\t'PINECREEK BORDER ARPT, MN'\n   'RAN'\t=\t'RAINER, MN            '\n   'RST'\t=\t'ROCHESTER, MN'\n   'ROS'\t=\t'ROSEAU, MN            '\n   'SPM'\t=\t'ST PAUL, MN           '\n   'WSB'\t=\t'WARROAD INTL, SPB, MN'\n   'WAR'\t=\t'WARROAD, MN           '\n   'KAN'\t=\t'KANSAS CITY, MO       '\n   'SGF'\t=\t'SPRINGFIELD-BRANSON, MO'\n   'STL'\t=\t'ST LOUIS, MO          '\n   'WHI'\t=\t'WHITETAIL, MT         '\n   'WHM'\t=\t'WILD HORSE, MT        '\n   'GPT'\t=\t'BILOXI REGIONAL, MS'\n   'GTR'\t=\t'GOLDEN TRIANGLE LOWNDES CNTY, MS'\n   'GUL'\t=\t'GULFPORT, MS          '\n   'PAS'\t=\t'PASCAGOULA, MS        '\n   'JAN'\t=\t'THOMPSON FIELD - JACKSON, MS'\n   'BIL'\t=\t'BILLINGS, MT          '\n   'BTM'\t=\t'BUTTE, MT             '\n   'CHF'\t=\t'CHIEF MT, MT          '\n   'CTB'\t=\t'CUT BANK MUNICIPAL, MT'\n   'CUT'\t=\t'CUT BANK, MT          '\n   'DLB'\t=\t'DEL BONITA, MT        '\n   'EUR'\t=\t'EUREKA, MT (BPS)'\n   'BZN'\t=\t'GALLATIN FIELD - BOZEMAN, MT'\n   'FCA'\t=\t'GLACIER NATIONAL PARK, MT'\n   'GGW'\t=\t'GLASGOW, MT           '\n   'GRE'\t=\t'GREAT FALLS, MT       '\n   'HVR'\t=\t'HAVRE, MT             '\n   'HEL'\t=\t'HELENA, MT            '\n   'LWT'\t=\t'LEWISTON, MT          '\n   'MGM'\t=\t'MORGAN, MT            '\n   'OPH'\t=\t'OPHEIM, MT            '\n   'PIE'\t=\t'PIEGAN, MT            '\n   'RAY'\t=\t'RAYMOND, MT           '\n   'ROO'\t=\t'ROOSVILLE, MT         '\n   'SCO'\t=\t'SCOBEY, MT            '\n   'SWE'\t=\t'SWEETGTASS, MT        '\n   'TRL'\t=\t'TRIAL CREEK, MT       '\n   'TUR'\t=\t'TURNER, MT            '\n   'WCM'\t=\t'WILLOW CREEK, MT      '\n   'CLT'\t=\t'CHARLOTTE, NC         '\n   'FAY'\t=\t'FAYETTEVILLE, NC'\n   'MRH'\t=\t'MOREHEAD CITY, NC     '\n   'FOP'\t=\t'MORRIS FIELDS AAF, NC'\n   'GSO'\t=\t'PIEDMONT TRIAD INTL AIRPORT, NC'\n   'RDU'\t=\t'RALEIGH/DURHAM, NC    '\n   'SSC'\t=\t'SHAW AFB - SUMTER, NC'\n   'WIL'\t=\t'WILMINGTON, NC        '\n   'AMB'\t=\t'AMBROSE, ND           '\n   'ANT'\t=\t'ANTLER, ND            '\n   'CRY'\t=\t'CARBURY, ND           '\n   'DNS'\t=\t'DUNSEITH, ND          '\n   'FAR'\t=\t'FARGO, ND             '\n   'FRT'\t=\t'FORTUNA, ND           '\n   'GRF'\t=\t'GRAND FORKS, ND       '\n   'HNN'\t=\t'HANNAH, ND            '\n   'HNS'\t=\t'HANSBORO, ND          '\n   'MAI'\t=\t'MAIDA, ND             '\n   'MND'\t=\t'MINOT, ND             '\n   'NEC'\t=\t'NECHE, ND             '\n   'NOO'\t=\t'NOONAN, ND            '\n   'NRG'\t=\t'NORTHGATE, ND         '\n   'PEM'\t=\t'PEMBINA, ND           '\n   'SAR'\t=\t'SARLES, ND            '\n   'SHR'\t=\t'SHERWOOD, ND          '\n   'SJO'\t=\t'ST JOHN, ND           '\n   'WAL'\t=\t'WALHALLA, ND          '\n   'WHO'\t=\t'WESTHOPE, ND          '\n   'WND'\t=\t'WILLISTON, ND         '\n   'OMA'\t=\t'OMAHA, NE             '\n   'LEB'\t=\t'LEBANON, NH           '\n   'MHT'\t=\t'MANCHESTER, NH'\n   'PNH'\t=\t'PITTSBURG, NH         '\n   'PSM'\t=\t'PORTSMOUTH, NH        '\n   'BYO'\t=\t'BAYONNE, NJ           '\n   'CNJ'\t=\t'CAMDEN, NJ            '\n   'HOB'\t=\t'HOBOKEN, NJ           '\n   'JER'\t=\t'JERSEY CITY, NJ       '\n   'WRI'\t=\t'MC GUIRE AFB - WRIGHTSOWN, NJ'\n   'MMU'\t=\t'MORRISTOWN, NJ'\n   'NEW'\t=\t'NEWARK/TETERBORO, NJ  '\n   'PER'\t=\t'PERTH AMBOY, NJ       '\n   'ACY'\t=\t'POMONA FIELD - ATLANTIC CITY, NJ'\n   'ALA'\t=\t'ALAMAGORDO, NM (BPS)'\n   'ABQ'\t=\t'ALBUQUERQUE, NM       '\n   'ANP'\t=\t'ANTELOPE WELLS, NM    '\n   'CRL'\t=\t'CARLSBAD, NM          '\n   'COL'\t=\t'COLUMBUS, NM          '\n   'CDD'\t=\t'CRANE LAKE - ST. LOUIS CNTY, NM'\n   'DNM'\t=\t'DEMING, NM (BPS)'\n   'LAS'\t=\t'LAS CRUCES, NM        '\n   'LOB'\t=\t'LORDSBURG, NM (BPS)'\n   'RUI'\t=\t'RUIDOSO, NM'\n   'STR'\t=\t'SANTA TERESA, NM      '\n   'RNO'\t=\t'CANNON INTL - RENO/TAHOE, NV'\n   'FLX'\t=\t'FALLON MUNICIPAL AIRPORT, NV'\n

**World Temperature**

In [23]:
df_temp.head(5)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

In [24]:
df_temp.tail(5)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
8599207,2013-05-01,11.464,0.236,Zwolle,Netherlands,52.24N,5.26E
8599208,2013-06-01,15.043,0.261,Zwolle,Netherlands,52.24N,5.26E
8599209,2013-07-01,18.775,0.193,Zwolle,Netherlands,52.24N,5.26E
8599210,2013-08-01,18.025,0.298,Zwolle,Netherlands,52.24N,5.26E
8599211,2013-09-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E

In [25]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8599212 entries, 0 to 8599211
Data columns (total 7 columns):
dt                               object
AverageTemperature               float64
AverageTemperatureUncertainty    float64
City                             object
Country                          object
Latitude                         object
Longitude                        object
dtypes: float64(2), object(5)
memory usage: 459.2+ MB

In [26]:
df_temp.describe()

       AverageTemperature  AverageTemperatureUncertainty
count        8.235082e+06                   8.235082e+06
mean         1.672743e+01                   1.028575e+00
std          1.035344e+01                   1.129733e+00
min         -4.270400e+01                   3.400000e-02
25%          1.029900e+01                   3.370000e-01
50%          1.883100e+01                   5.910000e-01
75%          2.521000e+01                   1.349000e+00
max          3.965100e+01                   1.539600e+01

In [27]:
(df_temp.Country == 'United States').sum()

687289

In [28]:
df_temp[df_temp.Country == 'United States'].dt.tail(5)

8439242    2013-05-01
8439243    2013-06-01
8439244    2013-07-01
8439245    2013-08-01
8439246    2013-09-01
Name: dt, dtype: object

In [29]:
(pd.to_datetime(df_temp.dt) >= pd.Timestamp(datetime.date(2016,1,1))).sum()

0

**Airport Codes**

In [30]:
df_airport.head(5)

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

In [31]:
df_airport.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55075 entries, 0 to 55074
Data columns (total 12 columns):
ident           55075 non-null object
type            55075 non-null object
name            55075 non-null object
elevation_ft    48069 non-null float64
continent       27356 non-null object
iso_country     54828 non-null object
iso_region      55075 non-null object
municipality    49399 non-null object
gps_code        41030 non-null object
iata_code       9189 non-null object
local_code      28686 non-null object
coordinates     55075 non-null object
dtypes: float64(1), object(11)
memory usage: 5.0+ MB

In [32]:
df_airport.describe()

       elevation_ft
count  48069.000000
mean    1240.789677
std     1602.363459
min    -1266.000000
25%      205.000000
50%      718.000000
75%     1497.000000
max    22000.000000

In [33]:
df_airport.iso_country.unique()

array(['US', 'PR', 'MH', 'MP', 'GU', 'SO', 'AQ', 'GB', 'PG', 'AD', 'SD',
       'SA', 'AE', 'SS', 'ES', 'CN', 'AF', 'LK', 'SB', 'CO', 'AU', 'MG',
       'TD', 'AL', 'AM', 'MX', 'MZ', 'PW', 'NR', 'AO', 'AR', 'AS', 'AT',
       'ZZ', 'GA', 'AZ', 'BA', 'BB', 'BE', 'DE', 'BF', 'BG', 'GL', 'BH',
       'BI', 'IS', 'BJ', 'OM', 'XK', 'BM', 'KE', 'PH', 'BO', 'BR', 'BS',
       'CV', 'BW', 'FJ', 'BY', 'UA', 'LR', 'BZ', 'CA', 'CD', 'CF', 'CG',
       'MR', 'CH', 'CL', 'CM', 'MA', 'CR', 'CU', 'CY', 'CZ', 'SK', 'PA',
       'DZ', 'ID', 'GH', 'RU', 'CI', 'DK', 'NG', 'DO', 'NE', 'HR', 'TN',
       'TG', 'EC', 'EE', 'FI', 'EG', 'GG', 'JE', 'IM', 'FK', 'EH', 'NL',
       'IE', 'FO', 'LU', 'NO', 'PL', 'ER', 'MN', 'PT', 'SE', 'ET', 'LV',
       'LT', 'ZA', 'SZ', 'GQ', 'SH', 'MU', 'IO', 'ZM', 'FM', 'KM', 'YT',
       'RE', 'TF', 'ST', 'FR', 'SC', 'ZW', 'MW', 'LS', nan, 'ML', 'GM',
       'GE', 'GF', 'SL', 'GW', 'GN', 'SN', 'GR', 'GT', 'TZ', 'GY', 'SR',
       'DJ', 'HK', 'LY', 'HN', 'VN', 'KZ', 'RW', 'HT', 'HU', 'UG', 'TL',
       'IL', 'IN', 'IQ', 'IR', 'JP', 'IT', 'JM', 'JO', 'KG', 'BD', 'KI',
       'KH', 'KP', 'KR', 'KW', 'LA', 'MY', 'PM', 'SI', 'PS', 'MT', 'MC',
       'RO', 'LI', 'TR', 'MD', 'MK', 'GI', 'RS', 'ME', 'TC', 'GD', 'MM',
       'NI', 'SV', 'MF', 'MV', 'KY', 'NC', 'CK', 'TO', 'TV', 'NU', 'WF',
       'NP', 'WS', 'PF', 'VU', 'NZ', 'LB', 'PK', 'SY', 'QA', 'YE', 'UM',
       'PE', 'TH', 'PY', 'TW', 'SG', 'VI', 'SM', 'UY', 'VE', 'AG', 'DM',
       'GP', 'MQ', 'BL', 'TJ', 'KN', 'LC', 'TM', 'AW', 'BQ', 'CW', 'SX',
       'AI', 'MS', 'TT', 'VG', 'VC', 'UZ', 'VA', 'MO', 'BT', 'BN', 'CC',
       'CX', 'NF'], dtype=object)

In [34]:
airport_us_mask = df_airport.iso_country == 'US'

In [35]:
airport_us_mask.sum()

22757

In [36]:
df_us_airport = df_airport[airport_us_mask].copy()
df_us_airport.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22757 entries, 0 to 54896
Data columns (total 12 columns):
ident           22757 non-null object
type            22757 non-null object
name            22757 non-null object
elevation_ft    22518 non-null float64
continent       1 non-null object
iso_country     22757 non-null object
iso_region      22757 non-null object
municipality    22655 non-null object
gps_code        20984 non-null object
iata_code       2019 non-null object
local_code      21236 non-null object
coordinates     22757 non-null object
dtypes: float64(1), object(11)
memory usage: 2.3+ MB

In [37]:
df_us_airport.municipality.nunique()

8738

In [38]:
df_us_airport.iso_region.nunique(), df_us_airport.iso_region.unique()

(52, array(['US-PA', 'US-KS', 'US-AK', 'US-AL', 'US-AR', 'US-OK', 'US-AZ',
        'US-CA', 'US-CO', 'US-FL', 'US-GA', 'US-HI', 'US-ID', 'US-IN',
        'US-IL', 'US-KY', 'US-LA', 'US-MD', 'US-MI', 'US-MN', 'US-MO',
        'US-MT', 'US-NJ', 'US-NC', 'US-NY', 'US-OH', 'US-OR', 'US-SC',
        'US-SD', 'US-TX', 'US-TN', 'US-UT', 'US-VA', 'US-WA', 'US-WI',
        'US-WV', 'US-WY', 'US-CT', 'US-IA', 'US-MA', 'US-ME', 'US-NE',
        'US-NH', 'US-NM', 'US-NV', 'US-MS', 'US-ND', 'US-VT', 'US-RI',
        'US-DC', 'US-DE', 'US-U-A'], dtype=object))

In [39]:
airport_us_state_codes = df_us_airport.iso_region.str.replace("US-", "").unique()
airport_us_state_codes

array(['PA', 'KS', 'AK', 'AL', 'AR', 'OK', 'AZ', 'CA', 'CO', 'FL', 'GA',
       'HI', 'ID', 'IN', 'IL', 'KY', 'LA', 'MD', 'MI', 'MN', 'MO', 'MT',
       'NJ', 'NC', 'NY', 'OH', 'OR', 'SC', 'SD', 'TX', 'TN', 'UT', 'VA',
       'WA', 'WI', 'WV', 'WY', 'CT', 'IA', 'MA', 'ME', 'NE', 'NH', 'NM',
       'NV', 'MS', 'ND', 'VT', 'RI', 'DC', 'DE', 'U-A'], dtype=object)

In [40]:
i94addr_unique_sample = df_immigration_sample[df_immigration_sample.i94addr.notnull()].i94addr.unique()
i94addr_unique_sample

array(['HI', 'TX', 'FL', 'CA', 'NY', 'GA', 'IL', 'MA', 'NV', 'PA', 'GU',
       'NC', 'NJ', 'VT', 'WA', 'NE', 'VA', 'MP', 'IN', 'MO', 'MI', 'OR',
       'MN', 'UN', 'ID', 'AZ', 'KY', 'SC', 'MS', 'MD', 'TN', 'OH', 'CT',
       'KS', 'DC', 'IA', 'LA', 'VQ', 'PR', 'CO', 'AL', 'SW', 'NM', 'UT',
       'OK', 'NH', 'TE', 'ME', 'AR', 'RI', 'WI'], dtype=object)

In [41]:
{ausc for ausc in airport_us_state_codes if ausc not in i94addr_unique_sample}, {sc for sc in i94addr_unique_sample  if sc not in airport_us_state_codes}

({'AK', 'DE', 'MT', 'ND', 'SD', 'U-A', 'WV', 'WY'},
 {'GU', 'MP', 'PR', 'SW', 'TE', 'UN', 'VQ'})

In [42]:
demo_state_code_unique = df_demo["State Code"].unique()
demo_state_code_unique

array(['MD', 'MA', 'AL', 'CA', 'NJ', 'IL', 'AZ', 'MO', 'NC', 'PA', 'KS',
       'FL', 'TX', 'VA', 'NV', 'CO', 'MI', 'CT', 'MN', 'UT', 'AR', 'TN',
       'OK', 'WA', 'NY', 'GA', 'NE', 'KY', 'SC', 'LA', 'NM', 'IA', 'RI',
       'PR', 'DC', 'WI', 'OR', 'NH', 'ND', 'DE', 'OH', 'ID', 'IN', 'AK',
       'MS', 'HI', 'SD', 'ME', 'MT'], dtype=object)

In [43]:
{ausc for ausc in airport_us_state_codes if ausc not in demo_state_code_unique}, {sc for sc in demo_state_code_unique  if sc not in airport_us_state_codes}

({'U-A', 'VT', 'WV', 'WY'}, {'PR'})

In [44]:
print(df_us_airport[df_us_airport.iso_region == "US-VT"].shape)
df_us_airport[df_us_airport.iso_region == "US-VT"].head(5)

(102, 12)

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
305,04VT,small_airport,Lightning Bolt Field Airport,2156.0,NaN,US,US-VT,Cabot,04VT,NaN,04VT,"-72.26360321039999, 44.4011001587"
365,05VT,heliport,Port of Highgate Springs Heliport,68.0,NaN,US,US-VT,Highgate Springs,05VT,NaN,05VT,"-73.08670043945312, 45.013301849365234"
478,07VT,small_airport,Meadow STOLport,801.0,NaN,US,US-VT,Jericho,07VT,NaN,07VT,"-72.91470336914062, 44.447200775146484"
632,0B7,small_airport,Warren-Sugarbush Airport,1470.0,NaN,US,US-VT,Warren,0B7,NaN,0B7,"-72.8271026611, 44.1166992188"
1715,18VT,heliport,Springfield Hospital Heliport,589.0,NaN,US,US-VT,Springfield,18VT,NaN,18VT,"-72.494588, 43.298465"

In [45]:
print(df_us_airport[df_us_airport.iso_region == "US-WV"].shape)
df_us_airport[df_us_airport.iso_region == "US-WV"].head(5)

(140, 12)

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
60,00WV,small_airport,Lazy J. Aerodrome,2060.0,NaN,US,US-WV,Beverly,00WV,NaN,00WV,"-79.86609649658203, 38.82889938354492"
310,04WV,heliport,West Virginia Univ. Hosp. Inc. Gnd. Pad #2 Hel...,1137.0,NaN,US,US-WV,Morgantown,04WV,NaN,04WV,"-79.9561111111, 39.6536111111"
1374,12WV,small_airport,Crazy Horse Airport,603.0,NaN,US,US-WV,Hamlin,12WV,NaN,12WV,"-82.115, 38.3421667"
1482,14P,small_airport,Boggs Field,927.0,NaN,US,US-WV,Spencer,14P,NaN,14P,"-81.34940338134766, 38.82389831542969"
1497,14WV,heliport,Snowshoe Resort/Topof the World Heliport,4792.0,NaN,US,US-WV,Linwood,14WV,NaN,14WV,"-79.99579620360001, 38.4006004333"

In [46]:
print(df_us_airport[df_us_airport.iso_region == "US-WY"].shape)
df_us_airport[df_us_airport.iso_region == "US-WY"].head(5)

(127, 12)

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
61,00WY,heliport,Mountain View Regional Hospital Heliport,5210.0,NaN,US,US-WY,Casper,00WY,NaN,00WY,"-106.224443, 42.840361"
125,01WY,small_airport,Keyhole Airport,4250.0,NaN,US,US-WY,Moorcroft,01WY,NaN,01WY,"-104.81099700927734, 44.347198486328125"
1171,0WY0,small_airport,Freedom Air Ranch Airport,5698.0,NaN,US,US-WY,Freedom,0WY0,NaN,0WY0,"-111.038056, 43.039722"
1172,0WY1,small_airport,Dorsey Creek Ranch Airport,4017.0,NaN,US,US-WY,Basin,0WY1,NaN,0WY1,"-108.163333, 44.411111"
1250,10WY,small_airport,Willow Creek Ranch Airport,5521.0,NaN,US,US-WY,Kaycee,10WY,NaN,10WY,"-106.823611, 43.423333"

In [47]:
df_us_airport[df_us_airport.iso_region == "PR"]

Empty DataFrame
Columns: [ident, type, name, elevation_ft, continent, iso_country, iso_region, municipality, gps_code, iata_code, local_code, coordinates]
Index: []

In [48]:
df_us_airport[df_us_airport.iso_region == "US-U-A"]

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
49318,US-0303,large_airport,atl,NaN,NaN,US,US-U-A,NaN,NaN,NaN,NaN,"-84.375, 33.137551"
49334,US-0319,small_airport,Ronnie Cole,900.0,NaN,US,US-U-A,Greenfield,NaN,NaN,NaN,"-85.72268, 39.831008"
49399,US-0384,closed,Beacon Station Air Strip,NaN,NaN,US,US-U-A,Baker,NaN,NaN,NaN,"-116.20977, 35.13047"
49625,US-0610,closed,Erase Me 13,NaN,NaN,US,US-U-A,NaN,NaN,NaN,NaN,"0, 0.4"
49757,US-0742,medium_airport,34S Airport,NaN,NaN,US,US-U-A,NaN,NaN,NaN,NaN,"-16.875, 19.145168"
49811,US-0796,closed,Not DTW although Detroit can be just as isolated,NaN,NaN,US,US-U-A,NaN,NaN,NaN,NaN,"0.8, 0.6"
49820,US-0805,small_airport,Twin Cities,NaN,NaN,US,US-U-A,"Tabor City,NC",K5J9,NaN,NaN,"0, 0"
49894,US-0879,medium_airport,Buy Lyrica online (Pregabalin) 150mg capsules ...,NaN,NaN,US,US-U-A,NaN,NaN,NaN,NaN,"3.1666666666667, -1.1666666666667"
49895,US-0880,medium_airport,Buy Lyrica online. Discount Lyrica 75 mg onlin...,0.0,NaN,US,US-U-A,NaN,NaN,NaN,NaN,"-2.1666666666667, -2.1666666666667"
49947,US-0932,small_airport,CLE,NaN,NaN,US,US-U-A,Cleveland,NaN,NaN,NaN,"0, 0"

Double check, if iata_code or local_code matches immigration i94port code

In [49]:
i94port_unique_sample = df_immigration_sample.i94port.unique()
i94port_unique_sample, len(i94port_unique_sample)

(array(['HHW', 'MCA', 'OGG', 'LOS', 'CHM', 'ATL', 'SFR', 'NYC', 'CHI',
        'PHI', 'FTL', 'BOS', 'SAI', 'NAS', 'SEA', 'ORL', 'PSP', 'HOU',
        'NEW', 'BAL', 'SNJ', 'DET', 'AGA', 'LVG', 'MIA', 'SDP', 'VCV',
        'DUB', 'PEM', 'TAM', 'BLA', 'WAS', 'KOA', 'DAL', 'SHA', 'SPM',
        'NIA', 'PHR', 'MIL', 'SLC', 'CLT', 'EPI', 'SNA', 'MON', 'DLR',
        'SFB', 'OPF', 'X96', 'CLM', 'LIH', 'DEN', 'PHO', 'POO', 'NOL',
        'WPB', 'PBB', 'TOR', 'MAA', 'RNO', 'FMY', 'HIG', 'OAK', 'OTM',
        'ONT', 'SRQ', 'LLB', 'NCA', 'SUM', 'STR', 'HAM'], dtype=object), 70)

In [50]:
df_airport.iata_code.isin(i94port_unique_sample).sum(), df_airport.local_code.isin(i94port_unique_sample).sum(), df_airport.ident.isin(i94port_unique_sample).sum(), \
df_airport.gps_code.isin(i94port_unique_sample).sum()

(60, 63, 2, 0)

In [51]:
airport_code_in_i94port_mask = (df_airport.local_code.isin(i94port_unique_sample) | df_airport.iata_code.isin(i94port_unique_sample) | 
                                df_airport.ident.isin(i94port_unique_sample) | df_airport.gps_code.isin(i94port_unique_sample))

In [52]:
df_airport[airport_code_in_i94port_mask][["local_code", "iata_code", "ident", "gps_code"]].nunique()

local_code    49
iata_code     65
ident         93
gps_code      69
dtype: int64

In [53]:
(airport_us_mask & airport_code_in_i94port_mask).sum()

36

In [54]:
df_airport[airport_us_mask & airport_code_in_i94port_mask][["local_code", "iata_code", "ident", "gps_code"]].nunique()

local_code    35
iata_code     33
ident         36
gps_code      35
dtype: int64

In [55]:
df_us_airport.query("iata_code == 'LAX'")

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
27795,KLAX,large_airport,Los Angeles International Airport,125.0,NaN,US,US-CA,Los Angeles,KLAX,LAX,LAX,"-118.4079971, 33.94250107"

In [56]:
df_airport.query("iata_code == 'LOS' or local_code == 'LOS' or gps_code == 'LOS' or ident == 'LOS'")

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
17551,DNMM,large_airport,Murtala Muhammed International Airport,135.0,AF,NG,NG-LA,Lagos,DNMM,LOS,NaN,"3.321160078048706, 6.5773701667785645"
34652,MX-0438,small_airport,Los Charcos Airstrip,8879.0,NaN,MX,MX-DUR,Mezquital,NaN,NaN,LOS,"-104.293973, 23.000115"

In [57]:
df_us_airport.query("iata_code == 'LOS' or local_code == 'LOS' or gps_code == 'LOS' or ident == 'LOS'")

Empty DataFrame
Columns: [ident, type, name, elevation_ft, continent, iso_country, iso_region, municipality, gps_code, iata_code, local_code, coordinates]
Index: []

In [58]:
airports_la_municipality = df_us_airport[df_us_airport.municipality.notnull() & df_us_airport.municipality.str.upper().str.contains("LOS ANGELES")]
print(airports_la_municipality.shape)
airports_la_municipality.head(5)

(68, 12)

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
71,01CN,heliport,Los Angeles County Sheriff's Department Heliport,300.0,NaN,US,US-CA,Los Angeles,01CN,NaN,01CN,"-118.15399932861328, 34.03779983520508"
639,0CA0,closed,Drew Medical Center Heliport,180.0,NaN,US,US-CA,Los Angeles,NaN,NaN,NaN,"-118.241997, 33.923302"
641,0CA2,heliport,Va Greater Los Angeles Health Care Center Heli...,294.0,NaN,US,US-CA,West Los Angeles,0CA2,NaN,0CA2,"-118.45600128173828, 34.049198150634766"
666,0CL7,heliport,Good Samaritan Hospital Heliport,473.0,NaN,US,US-CA,Los Angeles,0CL7,NaN,0CL7,"-118.264967, 34.054901"
1459,14L,heliport,Devonshire Area Heliport,1012.0,NaN,US,US-CA,Los Angeles,14L,NaN,14L,"-118.53099822998047, 34.256900787353516"

**US City Demographic**

In [59]:
df_demo = pd.read_csv(DATA_RAW_US_DEMO_CSV, sep=";")
df_demo.head(5)

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402

In [60]:
df_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2891 entries, 0 to 2890
Data columns (total 12 columns):
City                      2891 non-null object
State                     2891 non-null object
Median Age                2891 non-null float64
Male Population           2888 non-null float64
Female Population         2888 non-null float64
Total Population          2891 non-null int64
Number of Veterans        2878 non-null float64
Foreign-born              2878 non-null float64
Average Household Size    2875 non-null float64
State Code                2891 non-null object
Race                      2891 non-null object
Count                     2891 non-null int64
dtypes: float64(6), int64(2), object(4)
memory usage: 271.1+ KB

In [61]:
df_demo.describe()

,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,Count
count,2891.000000,2.888000e+03,2.888000e+03,2.891000e+03,2878.000000,2.878000e+03,2875.000000,2.891000e+03
mean,35.494881,9.732843e+04,1.017696e+05,1.989668e+05,9367.832523,4.065360e+04,2.742543,4.896377e+04
std,4.401617,2.162999e+05,2.315646e+05,4.475559e+05,13211.219924,1.557491e+05,0.433291,1.443856e+05
min,22.900000,2.928100e+04,2.734800e+04,6.321500e+04,416.000000,8.610000e+02,2.000000,9.800000e+01
25%,32.800000,3.928900e+04,4.122700e+04,8.042900e+04,3739.000000,9.224000e+03,2.430000,3.435000e+03
50%,35.300000,5.234100e+04,5.380900e+04,1.067820e+05,5397.000000,1.882200e+04,2.650000,1.378000e+04
75%,38.000000,8.664175e+04,8.960400e+04,1.752320e+05,9368.000000,3.397175e+04,2.950000,5.444700e+04
max,70.500000,4.081698e+06,4.468707e+06,8.550405e+06,156961.000000,3.212500e+06,4.980000,3.835726e+06

In [62]:
df_demo.City.nunique()

567

In [63]:
df_demo[df_demo.City.duplicated()].sort_values(by="City").head(10)

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
1403,Abilene,Texas,31.3,65212.0,60664.0,125876,9367.0,8129.0,2.64,TX,Hispanic or Latino,33222
1533,Abilene,Texas,31.3,65212.0,60664.0,125876,9367.0,8129.0,2.64,TX,White,95487
2880,Abilene,Texas,31.3,65212.0,60664.0,125876,9367.0,8129.0,2.64,TX,Black or African-American,14449
2727,Abilene,Texas,31.3,65212.0,60664.0,125876,9367.0,8129.0,2.64,TX,Asian,2929
2325,Akron,Ohio,38.1,96886.0,100667.0,197553,12878.0,10024.0,2.24,OH,Hispanic or Latino,3684
2175,Akron,Ohio,38.1,96886.0,100667.0,197553,12878.0,10024.0,2.24,OH,Asian,9033
1972,Akron,Ohio,38.1,96886.0,100667.0,197553,12878.0,10024.0,2.24,OH,American Indian and Alaska Native,1845
1100,Akron,Ohio,38.1,96886.0,100667.0,197553,12878.0,10024.0,2.24,OH,White,129192
554,Alafaya,Florida,33.5,39504.0,45760.0,85264,4176.0,15842.0,2.94,FL,Asian,10336
1868,Alafaya,Florida,33.5,39504.0,45760.0,85264,4176.0,15842.0,2.94,FL,Black or African-American,6577

In [64]:
{v for v in df_demo["State Code"].unique() if v not in i94addr_unique_sample}

{'AK', 'DE', 'MT', 'ND', 'SD'}

In [65]:
airport_uniq_municipality = df_us_airport[df_us_airport.municipality.notnull() & df_us_airport.municipality.str.upper()].municipality.unique()
len(airport_uniq_municipality)

8738

In [66]:
df_demo_uniq_city = df_demo.City.drop_duplicates()
df_demo_uniq_city.shape, df_demo_uniq_city.isin(airport_uniq_municipality).sum()

((567,), 477)

<a id='cleaning'></a>
### 3.2. Cleaning Data

The following issues for each dataset have been identified and will be cleaned.
   
**I94 Immigration**
1. Process the immigration dataset data dictionary and store for each column a Python dictonary as json file to improve readability and programmatic accessibility
1. Select only relevant columns as defined by the project scope and rename the columns to improve readability and programmatic accessibility (apply snake case) 
1. Set proper data types for each column, e.g. datetime, int
1. Compute the missing US state codes based on the port_id and data dictionary
1. Compute the city name based on the port_id and data dictionary
1. Drop duplicates
1. Store a cleaned version of the dataset partioned by `year`, `month` and `state_code`

**World Temperature**
1. The immigration data provided contains values for the year 2016. For 2016 no temparature data for cities in the United States is available. Hence, the temparature data will not be further processed and considered.

**Airport Codes**
1. Based on `port_id` of immigration data, the mapping to the different Airport codes seems not to match and might lead to false positives. Especially the columns `ident` and `gps_code` not seem to be suitable for mapping to `port_id` of immigration data, so they will be dropped. Since, the immigration data dictionary now has been processed, try to map using the municipality as further assessment. Anyways, `municipality` will be kept, because the option to join with US city demographic data will be required. 
1. US `iso_region` not necessarily seem to map to each `state_code` in immigration and demograpics data, but let's still keep data for those states.
1. Select only relevant columns as defined by the project scope  and rename the columns to improve readability and programmatic accessibility (apply snake case).
1. Filter by Airport in the US and drop the column `iso_country`
1. Remove the prefix `US-` from the `state_code` to simplify joining with immigration and demograpics data 
1. Store the values of `municipality` in upper case to simplify joining with immigration data 
1. Drop duplicates
1. Store a cleaned version of the dataset partioned by `state_code` and `municipality`

**US City Demographic**
1. Since, the immigration data dictionary now has been processed and immigration city names exist, try to map the us demographic `City` as further assessment. Anyways, `City` will be kept, because the option to join with US immigration `city` and airport `municipality` will be required.
1. Select only relevant columns as defined by the project scope and rename the columns to improve readability and programmatic accessibility (apply snake case).
1. The data seems to be grouped by `Race` and the `Count` depends on race. Everything else is duplicated, which can be dropped, because `Race` related data is out of scope.
1. Store the values of `city` in upper case to simplify joining with immigration and airport data  
1. Store a cleaned version of the dataset partioned by `state_code`

<a id='c-immigration'></a>
#### 3.2.1. I94 Immigration

Clean the immigration data dictionary

In [67]:
def parse_label_values(raw_values):
    values = dict()
    for v in raw_values.split("\n"):
        if "=" not in v:
            continue
        key_val = v.replace("\"","").replace("'","").strip().split("=")
        try:
            key = int(key_val[0].strip())
        except Exception as e:
            key = key_val[0].strip()
        values[key] = key_val[1].replace(";","").strip()
    return values

In [68]:
def get_key_by_value(d, value):
    keys = [k for k, v in d.items() if v == value]
    if len(keys) > 1:
        raise(f"Multiple keys found for value {value}")
    if not keys:
        raise(f"No key found for value {value}")
    return keys[0]

In [69]:
def compute_immigration_data_dictionary():
    labels = dict()
    for line in [l.strip() for l in immigration_labels.split("/*")[1:]]:
        match = re.match(r"\b[A-Z0-9]+\b", line)
        if not match:
            continue
        values = dict()
        split_by_value = [v.strip() for v in line.split("value ")]
        split_by_colon = split_by_value[0].split(":")
        if len(split_by_value) == 2:
            values = parse_label_values(split_by_value[1])
        if len(split_by_colon) == 2:
            values = parse_label_values(split_by_colon[1])
        if len(split_by_value) == 2 and len(split_by_colon) == 2:
            raise Exception("ERROR: It's not expected that the source file contains values and a colon")
        if "&" in split_by_colon[0]:
            label_desc = ["_".join([v.strip() for v in split_by_colon[0].replace("&","").split()][:2])] + [" ".join(split_by_colon[0].split()[4:]).replace("*/","").strip()]
        else:
            label_desc = [split_by_colon[0].split()[0]] + [" ".join(split_by_colon[0].split()[2:]).replace("*/","").strip()]
        print(f"\nLabel: {label_desc[0]}\nDesc: {label_desc[1]}")
        labels[label_desc[0]] = dict()
        labels[label_desc[0]]["desc"] = label_desc[1]
        labels[label_desc[0]]["values"] = values
        if values:
            print(f"Max. 10 random values of {len(values)}: {list(values.items())[:10]}")
            with open(DATA_PROCESSED_IMMIGRATION_DATA_DICT / f"{label_desc[0]}.json", "w") as f:
                json.dump(values, f)
    return labels

In [70]:
labels = compute_immigration_data_dictionary()

Label: I94YR
Desc: 4 digit year

Label: I94MON
Desc: Numeric month

Label: I94CIT_I94RES
Desc: This format shows all the valid and invalid codes for processing
Max. 10 random values of 289: [(582, 'MEXICO Air Sea, and Not Reported (I-94, no land arrivals)'), (236, 'AFGHANISTAN'), (101, 'ALBANIA'), (316, 'ALGERIA'), (102, 'ANDORRA'), (324, 'ANGOLA'), (529, 'ANGUILLA'), (518, 'ANTIGUA-BARBUDA'), (687, 'ARGENTINA'), (151, 'ARMENIA')]

Label: I94PORT
Desc: This format shows all the valid and invalid codes for processing
Max. 10 random values of 660: [('ALC', 'ALCAN, AK'), ('ANC', 'ANCHORAGE, AK'), ('BAR', 'BAKER AAF - BAKER ISLAND, AK'), ('DAC', 'DALTONS CACHE, AK'), ('PIZ', 'DEW STATION PT LAY DEW, AK'), ('DTH', 'DUTCH HARBOR, AK'), ('EGL', 'EAGLE, AK'), ('FRB', 'FAIRBANKS, AK'), ('HOM', 'HOMER, AK'), ('HYD', 'HYDER, AK')]

Label: ARRDATE
Desc: the Arrival Date in the USA. It is a SAS date numeric field that a permament format has not been applied. Please apply whichever date format works for you.

Label: I94MODE
Desc: There are missing values as well as not reported (9)
Max. 10 random values of 4: [(1, 'Air'), (2, 'Sea'), (3, 'Land'), (9, 'Not reported')]

Label: I94ADDR
Desc: There is lots of invalid codes in this variable and the list below shows what we have found to be valid, everything else goes into 'other'
Max. 10 random values of 55: [('AL', 'ALABAMA'), ('AK', 'ALASKA'), ('AZ', 'ARIZONA'), ('AR', 'ARKANSAS'), ('CA', 'CALIFORNIA'), ('CO', 'COLORADO'), ('CT', 'CONNECTICUT'), ('DE', 'DELAWARE'), ('DC', 'DIST. OF COLUMBIA'), ('FL', 'FLORIDA')]

Label: DEPDATE
Desc: the Departure Date from the USA. It is a SAS date numeric field that a permament format has not been applied. Please apply whichever date format works for you.

Label: I94BIR
Desc: Age of Respondent in Years

Label: I94VISA
Desc: Visa codes collapsed into three categories
Max. 10 random values of 3: [(1, 'Business'), (2, 'Pleasure'), (3, 'Student')]

Label: COUNT
Desc: Used for summary statistics

Label: DTADFILE
Desc: Character Date Field - Date added to I-94 Files - CIC does not use

Label: VISAPOST
Desc: Department of State where where Visa was issued - CIC does not use

Label: OCCUP
Desc: Occupation that will be performed in U.S. - CIC does not use

Label: ENTDEPA
Desc: Arrival Flag - admitted or paroled into the U.S. - CIC does not use

Label: ENTDEPD
Desc: Departure Flag - Departed, lost I-94 or is deceased - CIC does not use

Label: ENTDEPU
Desc: Update Flag - Either apprehended, overstayed, adjusted to perm residence - CIC does not use

Label: MATFLAG
Desc: Match flag - Match of arrival and departure records

Label: BIRYEAR
Desc: 4 digit year of birth

Label: DTADDTO
Desc: Character Date Field - Date to which admitted to U.S. (allowed to stay until) - CIC does not use

Label: GENDER
Desc: Non-immigrant sex

Label: INSNUM
Desc: INS number

Label: AIRLINE
Desc: Airline used to arrive in U.S.

Label: ADMNUM
Desc: Admission Number

Label: FLTNO
Desc: Flight number of Airline used to arrive in U.S.

Label: VISATYPE
Desc: Class of admission legally admitting the non-immigrant to temporarily stay in U.S.  run ;

Inspect the data dict results

In [71]:
labels.keys()

dict_keys(['I94YR', 'I94MON', 'I94CIT_I94RES', 'I94PORT', 'ARRDATE', 'I94MODE', 'I94ADDR', 'DEPDATE', 'I94BIR', 'I94VISA', 'COUNT', 'DTADFILE', 'VISAPOST', 'OCCUP', 'ENTDEPA', 'ENTDEPD', 'ENTDEPU', 'MATFLAG', 'BIRYEAR', 'DTADDTO', 'GENDER', 'INSNUM', 'AIRLINE', 'ADMNUM', 'FLTNO', 'VISATYPE'])

In [72]:
i94cit_94res = labels.get("I94CIT_I94RES").get("values")
i94cit_94res

{582: 'MEXICO Air Sea, and Not Reported (I-94, no land arrivals)',
 236: 'AFGHANISTAN',
 101: 'ALBANIA',
 316: 'ALGERIA',
 102: 'ANDORRA',
 324: 'ANGOLA',
 529: 'ANGUILLA',
 518: 'ANTIGUA-BARBUDA',
 687: 'ARGENTINA',
 151: 'ARMENIA',
 532: 'ARUBA',
 438: 'AUSTRALIA',
 103: 'AUSTRIA',
 152: 'AZERBAIJAN',
 512: 'BAHAMAS',
 298: 'BAHRAIN',
 274: 'BANGLADESH',
 513: 'BARBADOS',
 104: 'BELGIUM',
 581: 'BELIZE',
 386: 'BENIN',
 509: 'BERMUDA',
 153: 'BELARUS',
 242: 'BHUTAN',
 688: 'BOLIVIA',
 717: 'BONAIRE, ST EUSTATIUS, SABA',
 164: 'BOSNIA-HERZEGOVINA',
 336: 'BOTSWANA',
 689: 'BRAZIL',
 525: 'BRITISH VIRGIN ISLANDS',
 217: 'BRUNEI',
 105: 'BULGARIA',
 393: 'BURKINA FASO',
 243: 'BURMA',
 375: 'BURUNDI',
 310: 'CAMEROON',
 326: 'CAPE VERDE',
 526: 'CAYMAN ISLANDS',
 383: 'CENTRAL AFRICAN REPUBLIC',
 384: 'CHAD',
 690: 'CHILE',
 245: 'CHINA, PRC',
 721: 'CURACAO',
 270: 'CHRISTMAS ISLAND',
 271: 'COCOS ISLANDS',
 691: 'COLOMBIA',
 317: 'COMOROS',
 385: 'CONGO',
 467: 'COOK ISLANDS',
 575: 'COSTA RICA',
 165: 'CROATIA',
 584: 'CUBA',
 218: 'CYPRUS',
 140: 'CZECH REPUBLIC',
 723: 'FAROE ISLANDS (PART OF DENMARK)',
 108: 'DENMARK',
 322: 'DJIBOUTI',
 519: 'DOMINICA',
 585: 'DOMINICAN REPUBLIC',
 240: 'EAST TIMOR',
 692: 'ECUADOR',
 368: 'EGYPT',
 576: 'EL SALVADOR',
 399: 'EQUATORIAL GUINEA',
 372: 'ERITREA',
 109: 'ESTONIA',
 369: 'ETHIOPIA',
 604: 'FALKLAND ISLANDS',
 413: 'FIJI',
 110: 'FINLAND',
 111: 'FRANCE',
 601: 'FRENCH GUIANA',
 411: 'FRENCH POLYNESIA',
 387: 'GABON',
 338: 'GAMBIA',
 758: 'GAZA STRIP',
 154: 'GEORGIA',
 112: 'GERMANY',
 339: 'GHANA',
 143: 'GIBRALTAR',
 113: 'GREECE',
 520: 'GRENADA',
 507: 'GUADELOUPE',
 577: 'GUATEMALA',
 382: 'GUINEA',
 327: 'GUINEA-BISSAU',
 603: 'GUYANA',
 586: 'HAITI',
 726: 'HEARD AND MCDONALD IS.',
 149: 'HOLY SEE/VATICAN',
 528: 'HONDURAS',
 206: 'HONG KONG',
 114: 'HUNGARY',
 115: 'ICELAND',
 213: 'INDIA',
 759: 'INDIAN OCEAN AREAS (FRENCH)',
 729: 'INDIAN OCEAN TERRITORY',
 204: 'INDONESIA',
 249: 'IRAN',
 250: 'IRAQ',
 116: 'IRELAND',
 251: 'ISRAEL',
 117: 'ITALY',
 388: 'IVORY COAST',
 514: 'JAMAICA',
 209: 'JAPAN',
 253: 'JORDAN',
 201: 'KAMPUCHEA',
 155: 'KAZAKHSTAN',
 340: 'KENYA',
 414: 'KIRIBATI',
 732: 'KOSOVO',
 272: 'KUWAIT',
 156: 'KYRGYZSTAN',
 203: 'LAOS',
 118: 'LATVIA',
 255: 'LEBANON',
 335: 'LESOTHO',
 370: 'LIBERIA',
 381: 'LIBYA',
 119: 'LIECHTENSTEIN',
 120: 'LITHUANIA',
 121: 'LUXEMBOURG',
 214: 'MACAU',
 167: 'MACEDONIA',
 320: 'MADAGASCAR',
 345: 'MALAWI',
 273: 'MALAYSIA',
 220: 'MALDIVES',
 392: 'MALI',
 145: 'MALTA',
 472: 'MARSHALL ISLANDS',
 511: 'MARTINIQUE',
 389: 'MAURITANIA',
 342: 'MAURITIUS',
 760: 'MAYOTTE (AFRICA - FRENCH)',
 473: 'MICRONESIA, FED. STATES OF',
 157: 'MOLDOVA',
 122: 'MONACO',
 299: 'MONGOLIA',
 735: 'MONTENEGRO',
 521: 'MONTSERRAT',
 332: 'MOROCCO',
 329: 'MOZAMBIQUE',
 371: 'NAMIBIA',
 440: 'NAURU',
 257: 'NEPAL',
 123: 'NETHERLANDS',
 508: 'NETHERLANDS ANTILLES',
 409: 'NEW CALEDONIA',
 464: 'NEW ZEALAND',
 579: 'NICARAGUA',
 390: 'NIGER',
 343: 'NIGERIA',
 470: 'NIUE',
 275: 'NORTH KOREA',
 124: 'NORWAY',
 256: 'OMAN',
 258: 'PAKISTAN',
 474: 'PALAU',
 743: 'PALESTINE',
 504: 'PANAMA',
 441: 'PAPUA NEW GUINEA',
 693: 'PARAGUAY',
 694: 'PERU',
 260: 'PHILIPPINES',
 416: 'PITCAIRN ISLANDS',
 107: 'POLAND',
 126: 'PORTUGAL',
 297: 'QATAR',
 748: 'REPUBLIC OF SOUTH SUDAN',
 321: 'REUNION',
 127: 'ROMANIA',
 158: 'RUSSIA',
 376: 'RWANDA',
 128: 'SAN MARINO',
 330: 'SAO TOME AND PRINCIPE',
 261: 'SAUDI ARABIA',
 391: 'SENEGAL',
 142: 'SERBIA AND MONTENEGRO',
 745: 'SERBIA',
 347: 'SEYCHELLES',
 348: 'SIERRA LEONE',
 207: 'SINGAPORE',
 141: 'SLOVAKIA',
 166: 'SLOVENIA',
 412: 'SOLOMON ISLANDS',
 397: 'SOMALIA',
 373: 'SOUTH AFRICA',
 276: 'SOUTH KOREA',
 129: 'SPAIN',
 244: 'SRI LANKA',
 346: 'ST. HELENA',
 522: 'ST. KITTS-NEVIS',
 523: 'ST. LUCIA',
 502: 'ST. PIERRE AND MIQUELON',
 524: 'ST. VINCENT-GRENADINES',
 716: 'SAINT BARTHELEMY',
 736: 'SAINT MARTIN',
 749: 'SAINT MAARTEN',
 350: 'SUDAN',
 602: 'SURINAME',
 351: 'SWAZILAND',
 130: 'SWEDEN',
 131: 'SWITZERLAND',
 262: 'SYRIA',
 268: 'TAIWAN',
 159: 'TAJIKISTAN',
 353: 'TANZANIA',
 263: 'THAILAND',
 304: 'TOGO',
 417: 'TONGA',
 516: 'TRINIDAD AND TOBAGO',
 323: 'TUNISIA',
 264: 'TURKEY',
 161: 'TURKMENISTAN',
 527: 'TURKS AND CAICOS ISLANDS',
 420: 'TUVALU',
 352: 'UGANDA',
 162: 'UKRAINE',
 296: 'UNITED ARAB EMIRATES',
 135: 'UNITED KINGDOM',
 695: 'URUGUAY',
 163: 'UZBEKISTAN',
 410: 'VANUATU',
 696: 'VENEZUELA',
 266: 'VIETNAM',
 469: 'WALLIS AND FUTUNA ISLANDS',
 757: 'WEST INDIES (FRENCH)',
 333: 'WESTERN SAHARA',
 465: 'WESTERN SAMOA',
 216: 'YEMEN',
 139: 'YUGOSLAVIA',
 301: 'ZAIRE',
 344: 'ZAMBIA',
 315: 'ZIMBABWE',
 403: 'INVALID: AMERICAN SAMOA',
 712: 'INVALID: ANTARCTICA',
 700: 'INVALID: BORN ON BOARD SHIP',
 719: 'INVALID: BOUVET ISLAND (ANTARCTICA/NORWAY TERR.)',
 574: 'INVALID: CANADA',
 720: 'INVALID: CANTON AND ENDERBURY ISLS',
 106: 'INVALID: CZECHOSLOVAKIA',
 739: 'INVALID: DRONNING MAUD LAND (ANTARCTICA-NORWAY)',
 394: 'INVALID: FRENCH SOUTHERN AND ANTARCTIC',
 501: 'INVALID: GREENLAND',
 404: 'INVALID: GUAM',
 730: 'INVALID: INTERNATIONAL WATERS',
 731: 'INVALID: JOHNSON ISLAND',
 471: 'INVALID: MARIANA ISLANDS, NORTHERN',
 737: 'INVALID: MIDWAY ISLANDS',
 753: 'INVALID: MINOR OUTLYING ISLANDS - USA',
 740: 'INVALID: NEUTRAL ZONE (S. ARABIA/IRAQ)',
 710: 'INVALID: NON-QUOTA IMMIGRANT',
 505: 'INVALID: PUERTO RICO',
 0: 'INVALID: STATELESS',
 705: 'INVALID: STATELESS',
 583: 'INVALID: UNITED STATES',
 407: 'INVALID: UNITED STATES',
 999: 'INVALID: UNKNOWN',
 239: 'INVALID: UNKNOWN COUNTRY',
 134: 'INVALID: USSR',
 506: 'INVALID: U.S. VIRGIN ISLANDS',
 755: 'INVALID: WAKE ISLAND',
 311: 'Collapsed Tanzania (should not show)',
 741: 'Collapsed Curacao (should not show)',
 54: 'No Country Code (54)',
 100: 'No Country Code (100)',
 187: 'No Country Code (187)',
 190: 'No Country Code (190)',
 200: 'No Country Code (200)',
 219: 'No Country Code (219)',
 238: 'No Country Code (238)',
 277: 'No Country Code (277)',
 293: 'No Country Code (293)',
 300: 'No Country Code (300)',
 319: 'No Country Code (319)',
 365: 'No Country Code (365)',
 395: 'No Country Code (395)',
 400: 'No Country Code (400)',
 485: 'No Country Code (485)',
 503: 'No Country Code (503)',
 589: 'No Country Code (589)',
 592: 'No Country Code (592)',
 791: 'No Country Code (791)',
 849: 'No Country Code (849)',
 914: 'No Country Code (914)',
 944: 'No Country Code (944)',
 996: 'No Country Code (996)'}

In [73]:
i94addr = labels.get("I94ADDR").get("values")
i94addr

{'AL': 'ALABAMA',
 'AK': 'ALASKA',
 'AZ': 'ARIZONA',
 'AR': 'ARKANSAS',
 'CA': 'CALIFORNIA',
 'CO': 'COLORADO',
 'CT': 'CONNECTICUT',
 'DE': 'DELAWARE',
 'DC': 'DIST. OF COLUMBIA',
 'FL': 'FLORIDA',
 'GA': 'GEORGIA',
 'GU': 'GUAM',
 'HI': 'HAWAII',
 'ID': 'IDAHO',
 'IL': 'ILLINOIS',
 'IN': 'INDIANA',
 'IA': 'IOWA',
 'KS': 'KANSAS',
 'KY': 'KENTUCKY',
 'LA': 'LOUISIANA',
 'ME': 'MAINE',
 'MD': 'MARYLAND',
 'MA': 'MASSACHUSETTS',
 'MI': 'MICHIGAN',
 'MN': 'MINNESOTA',
 'MS': 'MISSISSIPPI',
 'MO': 'MISSOURI',
 'MT': 'MONTANA',
 'NC': 'N. CAROLINA',
 'ND': 'N. DAKOTA',
 'NE': 'NEBRASKA',
 'NV': 'NEVADA',
 'NH': 'NEW HAMPSHIRE',
 'NJ': 'NEW JERSEY',
 'NM': 'NEW MEXICO',
 'NY': 'NEW YORK',
 'OH': 'OHIO',
 'OK': 'OKLAHOMA',
 'OR': 'OREGON',
 'PA': 'PENNSYLVANIA',
 'PR': 'PUERTO RICO',
 'RI': 'RHODE ISLAND',
 'SC': 'S. CAROLINA',
 'SD': 'S. DAKOTA',
 'TN': 'TENNESSEE',
 'TX': 'TEXAS',
 'UT': 'UTAH',
 'VT': 'VERMONT',
 'VI': 'VIRGIN ISLANDS',
 'VA': 'VIRGINIA',
 'WV': 'W. VIRGINIA',
 'WA': 'WASHINGTON',
 'WI': 'WISCONSON',
 'WY': 'WYOMING',
 99: 'All Other Codes'}

In [74]:
i94port = labels.get("I94PORT").get("values")
i94port

{'ALC': 'ALCAN, AK',
 'ANC': 'ANCHORAGE, AK',
 'BAR': 'BAKER AAF - BAKER ISLAND, AK',
 'DAC': 'DALTONS CACHE, AK',
 'PIZ': 'DEW STATION PT LAY DEW, AK',
 'DTH': 'DUTCH HARBOR, AK',
 'EGL': 'EAGLE, AK',
 'FRB': 'FAIRBANKS, AK',
 'HOM': 'HOMER, AK',
 'HYD': 'HYDER, AK',
 'JUN': 'JUNEAU, AK',
 '5KE': 'KETCHIKAN, AK',
 'KET': 'KETCHIKAN, AK',
 'MOS': 'MOSES POINT INTERMEDIATE, AK',
 'NIK': 'NIKISKI, AK',
 'NOM': 'NOM, AK',
 'PKC': 'POKER CREEK, AK',
 'ORI': 'PORT LIONS SPB, AK',
 'SKA': 'SKAGWAY, AK',
 'SNP': 'ST. PAUL ISLAND, AK',
 'TKI': 'TOKEEN, AK',
 'WRA': 'WRANGELL, AK',
 'HSV': 'MADISON COUNTY - HUNTSVILLE, AL',
 'MOB': 'MOBILE, AL',
 'LIA': 'LITTLE ROCK, AR (BPS)',
 'ROG': 'ROGERS ARPT, AR',
 'DOU': 'DOUGLAS, AZ',
 'LUK': 'LUKEVILLE, AZ',
 'MAP': 'MARIPOSA AZ',
 'NAC': 'NACO, AZ',
 'NOG': 'NOGALES, AZ',
 'PHO': 'PHOENIX, AZ',
 'POR': 'PORTAL, AZ',
 'SLU': 'SAN LUIS, AZ',
 'SAS': 'SASABE, AZ',
 'TUC': 'TUCSON, AZ',
 'YUI': 'YUMA, AZ',
 'AND': 'ANDRADE, CA',
 'BUR': 'BURBANK, CA',
 'CAL': 'CALEXICO, CA',
 'CAO': 'CAMPO, CA',
 'FRE': 'FRESNO, CA',
 'ICP': 'IMPERIAL COUNTY, CA',
 'LNB': 'LONG BEACH, CA',
 'LOS': 'LOS ANGELES, CA',
 'BFL': 'MEADOWS FIELD - BAKERSFIELD, CA',
 'OAK': 'OAKLAND, CA',
 'ONT': 'ONTARIO, CA',
 'OTM': 'OTAY MESA, CA',
 'BLT': 'PACIFIC, HWY. STATION, CA',
 'PSP': 'PALM SPRINGS, CA',
 'SAC': 'SACRAMENTO, CA',
 'SLS': 'SALINAS, CA (BPS)',
 'SDP': 'SAN DIEGO, CA',
 'SFR': 'SAN FRANCISCO, CA',
 'SNJ': 'SAN JOSE, CA',
 'SLO': 'SAN LUIS OBISPO, CA',
 'SLI': 'SAN LUIS OBISPO, CA (BPS)',
 'SPC': 'SAN PEDRO, CA',
 'SYS': 'SAN YSIDRO, CA',
 'SAA': 'SANTA ANA, CA',
 'STO': 'STOCKTON, CA (BPS)',
 'TEC': 'TECATE, CA',
 'TRV': 'TRAVIS-AFB, CA',
 'APA': 'ARAPAHOE COUNTY, CO',
 'ASE': 'ASPEN, CO #ARPT',
 'COS': 'COLORADO SPRINGS, CO',
 'DEN': 'DENVER, CO',
 'DRO': 'LA PLATA - DURANGO, CO',
 'BDL': 'BRADLEY INTERNATIONAL, CT',
 'BGC': 'BRIDGEPORT, CT',
 'GRT': 'GROTON, CT',
 'HAR': 'HARTFORD, CT',
 'NWH': 'NEW HAVEN, CT',
 'NWL': 'NEW LONDON, CT',
 'TST': 'NEWINGTON DATA CENTER TEST, CT',
 'WAS': 'WASHINGTON DC',
 'DOV': 'DOVER AFB, DE',
 'DVD': 'DOVER-AFB, DE',
 'WLL': 'WILMINGTON, DE',
 'BOC': 'BOCAGRANDE, FL',
 'SRQ': 'BRADENTON - SARASOTA, FL',
 'CAN': 'CAPE CANAVERAL, FL',
 'DAB': 'DAYTONA BEACH INTERNATIONAL, FL',
 'FRN': 'FERNANDINA, FL',
 'FTL': 'FORT LAUDERDALE, FL',
 'FMY': 'FORT MYERS, FL',
 'FPF': 'FORT PIERCE, FL',
 'HUR': 'HURLBURT FIELD, FL',
 'GNV': 'J R ALISON MUNI - GAINESVILLE, FL',
 'JAC': 'JACKSONVILLE, FL',
 'KEY': 'KEY WEST, FL',
 'LEE': 'LEESBURG MUNICIPAL AIRPORT, FL',
 'MLB': 'MELBOURNE, FL',
 'MIA': 'MIAMI, FL',
 'APF': 'NAPLES, FL #ARPT',
 'OPF': 'OPA LOCKA, FL',
 'ORL': 'ORLANDO, FL',
 'PAN': 'PANAMA CITY, FL',
 'PEN': 'PENSACOLA, FL',
 'PCF': 'PORT CANAVERAL, FL',
 'PEV': 'PORT EVERGLADES, FL',
 'PSJ': 'PORT ST JOE, FL',
 'SFB': 'SANFORD, FL',
 'SGJ': 'ST AUGUSTINE ARPT, FL',
 'SAU': 'ST AUGUSTINE, FL',
 'FPR': 'ST LUCIE COUNTY, FL',
 'SPE': 'ST PETERSBURG, FL',
 'TAM': 'TAMPA, FL',
 'WPB': 'WEST PALM BEACH, FL',
 'ATL': 'ATLANTA, GA',
 'BRU': 'BRUNSWICK, GA',
 'AGS': 'BUSH FIELD - AUGUSTA, GA',
 'SAV': 'SAVANNAH, GA',
 'AGA': 'AGANA, GU',
 'HHW': 'HONOLULU, HI',
 'OGG': 'KAHULUI - MAUI, HI',
 'KOA': 'KEAHOLE-KONA, HI',
 'LIH': 'LIHUE, HI',
 'CID': 'CEDAR RAPIDS/IOWA CITY, IA',
 'DSM': 'DES MOINES, IA',
 'BOI': 'AIR TERM. (GOWEN FLD) BOISE, ID',
 'EPI': 'EASTPORT, ID',
 'IDA': 'FANNING FIELD - IDAHO FALLS, ID',
 'PTL': 'PORTHILL, ID',
 'SPI': 'CAPITAL - SPRINGFIELD, IL',
 'CHI': 'CHICAGO, IL',
 'DPA': 'DUPAGE COUNTY, IL',
 'PIA': 'GREATER PEORIA, IL',
 'RFD': 'GREATER ROCKFORD, IL',
 'UGN': 'MEMORIAL - WAUKEGAN, IL',
 'GAR': 'GARY, IN',
 'HMM': 'HAMMOND, IN',
 'INP': 'INDIANAPOLIS, IN',
 'MRL': 'MERRILLVILLE, IN',
 'SBN': 'SOUTH BEND, IN',
 'ICT': 'MID-CONTINENT - WITCHITA, KS',
 'LEX': 'BLUE GRASS - LEXINGTON, KY',
 'LOU': 'LOUISVILLE, KY',
 'BTN': 'BATON ROUGE, LA',
 'LKC': 'LAKE CHARLES, LA',
 'LAK': 'LAKE CHARLES, LA (BPS)',
 'MLU': 'MONROE, LA',
 'MGC': 'MORGAN CITY, LA',
 'NOL': 'NEW ORLEANS, LA',
 'BOS': 'BOSTON, MA',
 'GLO': 'GLOUCESTER, MA',
 'BED': 'HANSCOM FIELD - BEDFORD, MA',
 'LYN': 'LYNDEN, WA',
 'ADW': 'ANDREWS AFB, MD',
 'BAL': 'BALTIMORE, MD',
 'MKG': 'MUSKEGON, MD',
 'PAX': 'PATUXENT RIVER, MD',
 'BGM': 'BANGOR, ME',
 'BOO': 'BOOTHBAY HARBOR, ME',
 'BWM': 'BRIDGEWATER, ME',
 'BCK': 'BUCKPORT, ME',
 'CLS': 'CALAIS, ME',
 'CRB': 'CARIBOU, ME',
 'COB': 'COBURN GORE, ME',
 'EST': 'EASTCOURT, ME',
 'EPT': 'EASTPORT MUNICIPAL, ME',
 'EPM': 'EASTPORT, ME',
 'FOR': 'FOREST CITY, ME',
 'FTF': 'FORT FAIRFIELD, ME',
 'FTK': 'FORT KENT, ME',
 'HML': 'HAMIIN, ME',
 'HTM': 'HOULTON, ME',
 'JKM': 'JACKMAN, ME',
 'KAL': 'KALISPEL, MT',
 'LIM': 'LIMESTONE, ME',
 'LUB': 'LUBEC, ME',
 'MAD': 'MADAWASKA, ME',
 'POM': 'PORTLAND, ME',
 'RGM': 'RANGELEY, ME (BPS)',
 'SBR': 'SOUTH BREWER, ME',
 'SRL': 'ST AURELIE, ME',
 'SPA': 'ST PAMPILE, ME',
 'VNB': 'VAN BUREN, ME',
 'VCB': 'VANCEBORO, ME',
 'AGN': 'ALGONAC, MI',
 'ALP': 'ALPENA, MI',
 'BCY': 'BAY CITY, MI',
 'DET': 'DETROIT, MI',
 'GRP': 'GRAND RAPIDS, MI',
 'GRO': 'GROSSE ISLE, MI',
 'ISL': 'ISLE ROYALE, MI',
 'MRC': 'MARINE CITY, MI',
 'MRY': 'MARYSVILLE, MI',
 'PTK': 'OAKLAND COUNTY - PONTIAC, MI',
 'PHU': 'PORT HURON, MI',
 'RBT': 'ROBERTS LANDING, MI',
 'SAG': 'SAGINAW, MI',
 'SSM': 'SAULT STE. MARIE, MI',
 'SCL': 'ST CLAIR, MI',
 'YIP': 'WILLOW RUN - YPSILANTI, MI',
 'BAU': 'BAUDETTE, MN',
 'CAR': 'CARIBOU MUNICIPAL AIRPORT, MN',
 'GTF': 'Collapsed into INT, MN',
 'INL': 'Collapsed into INT, MN',
 'CRA': 'CRANE LAKE, MN',
 'MIC': 'CRYSTAL MUNICIPAL AIRPORT, MN',
 'DUL': 'DULUTH, MN',
 'ELY': 'ELY, MN',
 'GPM': 'GRAND PORTAGE, MN',
 'SVC': 'GRANT COUNTY - SILVER CITY, MN',
 'INT': 'INTL FALLS, MN',
 'LAN': 'LANCASTER, MN',
 'MSP': 'MINN./ST PAUL, MN',
 'LIN': 'NORTHERN SVC CENTER, MN',
 'NOY': 'NOYES, MN',
 'PIN': 'PINE CREEK, MN',
 '48Y': 'PINECREEK BORDER ARPT, MN',
 'RAN': 'RAINER, MN',
 'RST': 'ROCHESTER, MN',
 'ROS': 'ROSEAU, MN',
 'SPM': 'ST PAUL, MN',
 'WSB': 'WARROAD INTL, SPB, MN',
 'WAR': 'WARROAD, MN',
 'KAN': 'KANSAS CITY, MO',
 'SGF': 'SPRINGFIELD-BRANSON, MO',
 'STL': 'ST LOUIS, MO',
 'WHI': 'WHITETAIL, MT',
 'WHM': 'WILD HORSE, MT',
 'GPT': 'BILOXI REGIONAL, MS',
 'GTR': 'GOLDEN TRIANGLE LOWNDES CNTY, MS',
 'GUL': 'GULFPORT, MS',
 'PAS': 'PASCAGOULA, MS',
 'JAN': 'THOMPSON FIELD - JACKSON, MS',
 'BIL': 'BILLINGS, MT',
 'BTM': 'BUTTE, MT',
 'CHF': 'CHIEF MT, MT',
 'CTB': 'CUT BANK MUNICIPAL, MT',
 'CUT': 'CUT BANK, MT',
 'DLB': 'DEL BONITA, MT',
 'EUR': 'EUREKA, MT (BPS)',
 'BZN': 'GALLATIN FIELD - BOZEMAN, MT',
 'FCA': 'GLACIER NATIONAL PARK, MT',
 'GGW': 'GLASGOW, MT',
 'GRE': 'GREAT FALLS, MT',
 'HVR': 'HAVRE, MT',
 'HEL': 'HELENA, MT',
 'LWT': 'LEWISTON, MT',
 'MGM': 'MORGAN, MT',
 'OPH': 'OPHEIM, MT',
 'PIE': 'PIEGAN, MT',
 'RAY': 'RAYMOND, MT',
 'ROO': 'ROOSVILLE, MT',
 'SCO': 'SCOBEY, MT',
 'SWE': 'SWEETGTASS, MT',
 'TRL': 'TRIAL CREEK, MT',
 'TUR': 'TURNER, MT',
 'WCM': 'WILLOW CREEK, MT',
 'CLT': 'CHARLOTTE, NC',
 'FAY': 'FAYETTEVILLE, NC',
 'MRH': 'MOREHEAD CITY, NC',
 'FOP': 'MORRIS FIELDS AAF, NC',
 'GSO': 'PIEDMONT TRIAD INTL AIRPORT, NC',
 'RDU': 'RALEIGH/DURHAM, NC',
 'SSC': 'SHAW AFB - SUMTER, NC',
 'WIL': 'WILMINGTON, NC',
 'AMB': 'AMBROSE, ND',
 'ANT': 'ANTLER, ND',
 'CRY': 'CARBURY, ND',
 'DNS': 'DUNSEITH, ND',
 'FAR': 'FARGO, ND',
 'FRT': 'FORTUNA, ND',
 'GRF': 'GRAND FORKS, ND',
 'HNN': 'HANNAH, ND',
 'HNS': 'HANSBORO, ND',
 'MAI': 'MAIDA, ND',
 'MND': 'MINOT, ND',
 'NEC': 'NECHE, ND',
 'NOO': 'NOONAN, ND',
 'NRG': 'NORTHGATE, ND',
 'PEM': 'PEMBINA, ND',
 'SAR': 'SARLES, ND',
 'SHR': 'SHERWOOD, ND',
 'SJO': 'ST JOHN, ND',
 'WAL': 'WALHALLA, ND',
 'WHO': 'WESTHOPE, ND',
 'WND': 'WILLISTON, ND',
 'OMA': 'OMAHA, NE',
 'LEB': 'LEBANON, NH',
 'MHT': 'MANCHESTER, NH',
 'PNH': 'PITTSBURG, NH',
 'PSM': 'PORTSMOUTH, NH',
 'BYO': 'BAYONNE, NJ',
 'CNJ': 'CAMDEN, NJ',
 'HOB': 'HOBOKEN, NJ',
 'JER': 'JERSEY CITY, NJ',
 'WRI': 'MC GUIRE AFB - WRIGHTSOWN, NJ',
 'MMU': 'MORRISTOWN, NJ',
 'NEW': 'NEWARK/TETERBORO, NJ',
 'PER': 'PERTH AMBOY, NJ',
 'ACY': 'POMONA FIELD - ATLANTIC CITY, NJ',
 'ALA': 'ALAMAGORDO, NM (BPS)',
 'ABQ': 'ALBUQUERQUE, NM',
 'ANP': 'ANTELOPE WELLS, NM',
 'CRL': 'CARLSBAD, NM',
 'COL': 'COLUMBUS, NM',
 'CDD': 'CRANE LAKE - ST. LOUIS CNTY, NM',
 'DNM': 'DEMING, NM (BPS)',
 'LAS': 'LAS CRUCES, NM',
 'LOB': 'LORDSBURG, NM (BPS)',
 'RUI': 'RUIDOSO, NM',
 'STR': 'SANTA TERESA, NM',
 'RNO': 'CANNON INTL - RENO/TAHOE, NV',
 'FLX': 'FALLON MUNICIPAL AIRPORT, NV',
 'LVG': 'LAS VEGAS, NV',
 'REN': 'RENO, NV',
 'ALB': 'ALBANY, NY',
 'AXB': 'ALEXANDRIA BAY, NY',
 'BUF': 'BUFFALO, NY',
 'CNH': 'CANNON CORNERS, NY',
 'CAP': 'CAPE VINCENT, NY',
 'CHM': 'CHAMPLAIN, NY',
 'CHT': 'CHATEAUGAY, NY',
 'CLA': 'CLAYTON, NY',
 'FTC': 'FORT COVINGTON, NY',
 'LAG': 'LA GUARDIA, NY',
 'LEW': 'LEWISTON, NY',
 'MAS': 'MASSENA, NY',
 'MAG': 'MCGUIRE AFB, NY',
 'MOO': 'MOORES, NY',
 'MRR': 'MORRISTOWN, NY',
 'NYC': 'NEW YORK, NY',
 'NIA': 'NIAGARA FALLS, NY',
 'OGD': 'OGDENSBURG, NY',
 'OSW': 'OSWEGO, NY',
 'ELM': 'REGIONAL ARPT - HORSEHEAD, NY',
 'ROC': 'ROCHESTER, NY',
 'ROU': 'ROUSES POINT, NY',
 'SWF': 'STEWART - ORANGE CNTY, NY',
 'SYR': 'SYRACUSE, NY',
 'THO': 'THOUSAND ISLAND BRIDGE, NY',
 'TRO': 'TROUT RIVER, NY',
 'WAT': 'WATERTOWN, NY',
 'HPN': 'WESTCHESTER - WHITE PLAINS, NY',
 'WRB': 'WHIRLPOOL BRIDGE, NY',
 'YOU': 'YOUNGSTOWN, NY',
 'AKR': 'AKRON, OH',
 'ATB': 'ASHTABULA, OH',
 'CIN': 'CINCINNATI, OH',
 'CLE': 'CLEVELAND, OH',
 'CLM': 'COLUMBUS, OH',
 'LOR': 'LORAIN, OH',
 'MBO': 'MARBLE HEADS, OH',
 'SDY': 'SANDUSKY, OH',
 'TOL': 'TOLEDO, OH',
 'OKC': 'OKLAHOMA CITY, OK',
 'TUL': 'TULSA, OK',
 'AST': 'ASTORIA, OR',
 'COO': 'COOS BAY, OR',
 'HIO': 'HILLSBORO, OR',
 'MED': 'MEDFORD, OR',
 'NPT': 'NEWPORT, OR',
 'POO': 'PORTLAND, OR',
 'PUT': 'PUT-IN-BAY, OH',
 'RDM': 'ROBERTS FIELDS - REDMOND, OR',
 'ERI': 'ERIE, PA',
 'MDT': 'HARRISBURG, PA',
 'HSB': 'HARRISONBURG, PA',
 'PHI': 'PHILADELPHIA, PA',
 'PIT': 'PITTSBURG, PA',
 'AGU': 'AGUADILLA, PR',
 'BQN': 'BORINQUEN - AGUADILLO, PR',
 'JCP': 'CULEBRA - BENJAMIN RIVERA, PR',
 'ENS': 'ENSENADA, PR',
 'FAJ': 'FAJARDO, PR',
 'HUM': 'HUMACAO, PR',
 'JOB': 'JOBOS, PR',
 'MAY': 'MAYAGUEZ, PR',
 'PON': 'PONCE, PR',
 'PSE': 'PONCE-MERCEDITA, PR',
 'SAJ': 'SAN JUAN, PR',
 'VQS': 'VIEQUES-ARPT, PR',
 'PRO': 'PROVIDENCE, RI',
 'PVD': 'THEODORE FRANCIS - WARWICK, RI',
 'CHL': 'CHARLESTON, SC',
 'CAE': 'COLUMBIA, SC #ARPT',
 'GEO': 'GEORGETOWN, SC',
 'GSP': 'GREENVILLE, SC',
 'GRR': 'GREER, SC',
 'MYR': 'MYRTLE BEACH, SC',
 'SPF': 'BLACK HILLS, SPEARFISH, SD',
 'HON': 'HOWES REGIONAL ARPT - HURON, SD',
 'SAI': 'SAIPAN, SPN',
 'TYS': 'MC GHEE TYSON - ALCOA, TN',
 'MEM': 'MEMPHIS, TN',
 'NSV': 'NASHVILLE, TN',
 'TRI': 'TRI CITY ARPT, TN',
 'ADS': 'ADDISON AIRPORT- ADDISON, TX',
 'ADT': 'AMISTAD DAM, TX',
 'ANZ': 'ANZALDUAS, TX',
 'AUS': 'AUSTIN, TX',
 'BEA': 'BEAUMONT, TX',
 'BBP': 'BIG BEND PARK, TX (BPS)',
 'SCC': 'BP SPEC COORD. CTR, TX',
 'BTC': 'BP TACTICAL UNIT, TX',
 'BOA': 'BRIDGE OF AMERICAS, TX',
 'BRO': 'BROWNSVILLE, TX',
 'CRP': 'CORPUS CHRISTI, TX',
 'DAL': 'DALLAS, TX',
 'DLR': 'DEL RIO, TX',
 'DNA': 'DONNA, TX',
 'EGP': 'EAGLE PASS, TX',
 'ELP': 'EL PASO, TX',
 'FAB': 'FABENS, TX',
 'FAL': 'FALCON HEIGHTS, TX',
 'FTH': 'FORT HANCOCK, TX',
 'AFW': 'FORT WORTH ALLIANCE, TX',
 'FPT': 'FREEPORT, TX',
 'GAL': 'GALVESTON, TX',
 'HLG': 'HARLINGEN, TX',
 'HID': 'HIDALGO, TX',
 'HOU': 'HOUSTON, TX',
 'SGR': 'HULL FIELD, SUGAR LAND ARPT, TX',
 'LLB': 'JUAREZ-LINCOLN BRIDGE, TX',
 'LCB': 'LAREDO COLUMBIA BRIDGE, TX',
 'LRN': 'LAREDO NORTH, TX',
 'LAR': 'LAREDO, TX',
 'LSE': 'LOS EBANOS, TX',
 'IND': 'LOS INDIOS, TX',
 'LOI': 'LOS INDIOS, TX',
 'MRS': 'MARFA, TX (BPS)',
 'MCA': 'MCALLEN, TX',
 'MAF': 'ODESSA REGIONAL, TX',
 'PDN': 'PASO DEL NORTE,TX',
 'PBB': 'PEACE BRIDGE, NY',
 'PHR': 'PHARR, TX',
 'PAR': 'PORT ARTHUR, TX',
 'ISB': 'PORT ISABEL, TX',
 'POE': 'PORT OF EL PASO, TX',
 'PRE': 'PRESIDIO, TX',
 'PGR': 'PROGRESO, TX',
 'RIO': 'RIO GRANDE CITY, TX',
 'ROM': 'ROMA, TX',
 'SNA': 'SAN ANTONIO, TX',
 'SNN': 'SANDERSON, TX',
 'VIB': 'VETERAN INTL BRIDGE, TX',
 'YSL': 'YSLETA, TX',
 'CHA': 'CHARLOTTE AMALIE, VI',
 'CHR': 'CHRISTIANSTED, VI',
 'CRU': 'CRUZ BAY, ST JOHN, VI',
 'FRK': 'FREDERIKSTED, VI',
 'STT': 'ST THOMAS, VI',
 'LGU': 'CACHE AIRPORT - LOGAN, UT',
 'SLC': 'SALT LAKE CITY, UT',
 'CHO': 'ALBEMARLE CHARLOTTESVILLE, VA',
 'DAA': 'DAVISON AAF - FAIRFAX CNTY, VA',
 'HOP': 'HOPEWELL, VA',
 'HEF': 'MANASSAS, VA #ARPT',
 'NWN': 'NEWPORT, VA',
 'NOR': 'NORFOLK, VA',
 'RCM': 'RICHMOND, VA',
 'ABS': 'ALBURG SPRINGS, VT',
 'ABG': 'ALBURG, VT',
 'BEB': 'BEEBE PLAIN, VT',
 'BEE': 'BEECHER FALLS, VT',
 'BRG': 'BURLINGTON, VT',
 'CNA': 'CANAAN, VT',
 'DER': 'DERBY LINE, VT (I-91)',
 'DLV': 'DERBY LINE, VT (RT. 5)',
 'ERC': 'EAST RICHFORD, VT',
 'HIG': 'HIGHGATE SPRINGS, VT',
 'MOR': 'MORSES LINE, VT',
 'NPV': 'NEWPORT, VT',
 'NRT': 'NORTH TROY, VT',
 'NRN': 'NORTON, VT',
 'PIV': 'PINNACLE ROAD, VT',
 'RIF': 'RICHFORT, VT',
 'STA': 'ST ALBANS, VT',
 'SWB': 'SWANTON, VT (BP - SECTOR HQ)',
 'WBE': 'WEST BERKSHIRE, VT',
 'ABE': 'ABERDEEN, WA',
 'ANA': 'ANACORTES, WA',
 'BEL': 'BELLINGHAM, WA',
 'BLI': 'BELLINGHAM, WASHINGTON #INTL',
 'BLA': 'BLAINE, WA',
 'BWA': 'BOUNDARY, WA',
 'CUR': 'CURLEW, WA (BPS)',
 'DVL': 'DANVILLE, WA',
 'EVE': 'EVERETT, WA',
 'FER': 'FERRY, WA',
 'FRI': 'FRIDAY HARBOR, WA',
 'FWA': 'FRONTIER, WA',
 'KLM': 'KALAMA, WA',
 'LAU': 'LAURIER, WA',
 'LON': 'LONGVIEW, WA',
 'MET': 'METALINE FALLS, WA',
 'MWH': 'MOSES LAKE GRANT COUNTY ARPT, WA',
 'NEA': 'NEAH BAY, WA',
 'NIG': 'NIGHTHAWK, WA',
 'OLY': 'OLYMPIA, WA',
 'ORO': 'OROVILLE, WA',
 'PWB': 'PASCO, WA',
 'PIR': 'POINT ROBERTS, WA',
 'PNG': 'PORT ANGELES, WA',
 'PTO': 'PORT TOWNSEND, WA',
 'SEA': 'SEATTLE, WA',
 'SPO': 'SPOKANE, WA',
 'SUM': 'SUMAS, WA',
 'TAC': 'TACOMA, WA',
 'PSC': 'TRI-CITIES - PASCO, WA',
 'VAN': 'VANCOUVER, WA',
 'AGM': 'ALGOMA, WI',
 'BAY': 'BAYFIELD, WI',
 'GRB': 'GREEN BAY, WI',
 'MNW': 'MANITOWOC, WI',
 'MIL': 'MILWAUKEE, WI',
 'MSN': 'TRUAX FIELD - DANE COUNTY, WI',
 'CHS': 'CHARLESTON, WV',
 'CLK': 'CLARKSBURG, WV',
 'BLF': 'MERCER COUNTY, WV',
 'CSP': 'CASPER, WY',
 'XXX': 'NOT REPORTED/UNKNOWN',
 888: 'UNIDENTIFED AIR / SEAPORT',
 'UNK': 'UNKNOWN POE',
 'CLG': 'CALGARY, CANADA',
 'EDA': 'EDMONTON, CANADA',
 'YHC': 'HAKAI PASS, CANADA',
 'HAL': 'Halifax, NS, Canada',
 'MON': 'MONTREAL, CANADA',
 'OTT': 'OTTAWA, CANADA',
 'YXE': 'SASKATOON, CANADA',
 'TOR': 'TORONTO, CANADA',
 'VCV': 'VANCOUVER, CANADA',
 'VIC': 'VICTORIA, CANADA',
 'WIN': 'WINNIPEG, CANADA',
 'AMS': 'AMSTERDAM-SCHIPHOL, NETHERLANDS',
 'ARB': 'ARUBA, NETH ANTILLES',
 'BAN': 'BANKOK, THAILAND',
 'BEI': 'BEICA #ARPT, ETHIOPIA',
 'PEK': 'BEIJING CAPITAL INTL, PRC',
 'BDA': 'KINDLEY FIELD, BERMUDA',
 'BOG': 'BOGOTA, EL DORADO #ARPT, COLOMBIA',
 'EZE': 'BUENOS AIRES, MINISTRO PIST, ARGENTINA',
 'CUN': 'CANCUN, MEXICO',
 'CRQ': 'CARAVELAS, BA #ARPT, BRAZIL',
 'MVD': 'CARRASCO, URUGUAY',
 'DUB': 'DUBLIN, IRELAND',
 'FOU': 'FOUGAMOU #ARPT, GABON',
 'FBA': 'FREEPORT, BAHAMAS',
 'MTY': 'GEN M. ESCOBEDO, Monterrey, MX',
 'HMO': 'GEN PESQUEIRA GARCIA, MX',
 'GCM': 'GRAND CAYMAN, CAYMAN ISLAND',
 'GDL': 'GUADALAJARA, MIGUEL HIDAL, MX',
 'HAM': 'HAMILTON, BERMUDA',
 'ICN': 'INCHON, SEOUL KOREA',
 'IWA': 'INVALID - IWAKUNI, JAPAN',
 'CND': 'KOGALNICEANU, ROMANIA',
 'LAH': 'LABUHA ARPT, INDONESIA',
 'DUR': 'LOUIS BOTHA, SOUTH AFRICA',
 'MAL': 'MANGOLE ARPT, INDONESIA',
 'MDE': 'MEDELLIN, COLOMBIA',
 'MEX': 'JUAREZ INTL, MEXICO CITY, MX',
 'LHR': 'MIDDLESEX, ENGLAND',
 'NBO': 'NAIROBI, KENYA',
 'NAS': 'NASSAU, BAHAMAS',
 'NCA': 'NORTH CAICOS, TURK & CAIMAN',
 'PTY': 'OMAR TORRIJOS, PANAMA',
 'SPV': 'PAPUA, NEW GUINEA',
 'UIO': 'QUITO (MARISCAL SUCR), ECUADOR',
 'RIT': 'ROME, ITALY',
 'SNO': 'SAKON NAKHON #ARPT, THAILAND',
 'SLP': 'SAN LUIS POTOSI #ARPT, MEXICO',
 'SAN': 'SAN SALVADOR, EL SALVADOR',
 'SRO': 'SANTANA RAMOS #ARPT, COLOMBIA',
 'GRU': 'GUARULHOS INTL, SAO PAULO, BRAZIL',
 'SHA': 'SHANNON, IRELAND',
 'HIL': 'SHILLAVO, ETHIOPIA',
 'TOK': 'TOROKINA #ARPT, PAPUA, NEW GUINEA',
 'VER': 'VERACRUZ, MEXICO',
 'LGW': 'WEST SUSSEX, ENGLAND',
 'ZZZ': 'MEXICO Land (Banco de Mexico)',
 'CHN': 'No PORT Code (CHN)',
 'CNC': 'CANNON CORNERS, NY',
 'MAA': 'Abu Dhabi',
 'AG0': 'MAGNOLIA, AR',
 'BHM': 'BAR HARBOR, ME',
 'BHX': 'BIRMINGHAM, AL',
 'CAK': 'AKRON, OH',
 'FOK': 'SUFFOLK COUNTY, NY',
 'LND': 'LANDER, WY',
 'MAR': 'MARFA, TX',
 'MLI': 'MOLINE, IL',
 'RIV': 'RIVERSIDE, CA',
 'RME': 'ROME, NY',
 'VNY': 'VAN NUYS, CA',
 'YUM': 'YUMA, AZ',
 'FRG': 'Collapsed (FOK) 06/15',
 'HRL': 'Collapsed (HLG) 06/15',
 'ISP': 'Collapsed (FOK) 06/15',
 'JSJ': 'Collapsed (SAJ) 06/15',
 'BUS': 'Collapsed (BUF) 06/15',
 'IAG': 'Collapsed (NIA) 06/15',
 'PHN': 'Collapsed (PHU) 06/15',
 'STN': 'Collapsed (STR) 06/15',
 'VMB': 'Collapsed (VNB) 06/15',
 'T01': 'Collapsed (SEA) 06/15',
 'PHF': 'No PORT Code (PHF)',
 'DRV': 'No PORT Code (DRV)',
 'FTB': 'No PORT Code (FTB)',
 'GAC': 'No PORT Code (GAC)',
 'GMT': 'No PORT Code (GMT)',
 'JFA': 'No PORT Code (JFA)',
 'JMZ': 'No PORT Code (JMZ)',
 'NC8': 'No PORT Code (NC8)',
 'NYL': 'No PORT Code (NYL)',
 'OAI': 'No PORT Code (OAI)',
 'PCW': 'No PORT Code (PCW)',
 'WA5': 'No PORT Code (WAS)',
 'WTR': 'No PORT Code (WTR)',
 'X96': 'No PORT Code (X96)',
 'XNA': 'No PORT Code (XNA)',
 'YGF': 'No PORT Code (YGF)',
 '5T6': 'No PORT Code (5T6)',
 60: 'No PORT Code (60)',
 'SP0': 'No PORT Code (SP0)',
 'W55': 'No PORT Code (W55)',
 'X44': 'No PORT Code (X44)',
 'AUH': 'No PORT Code (AUH)',
 'RYY': 'No PORT Code (RYY)',
 'SUS': 'No PORT Code (SUS)',
 '74S': 'No PORT Code (74S)',
 'ATW': 'No PORT Code (ATW)',
 'CPX': 'No PORT Code (CPX)',
 'MTH': 'No PORT Code (MTH)',
 'PFN': 'No PORT Code (PFN)',
 'SCH': 'No PORT Code (SCH)',
 'ASI': 'No PORT Code (ASI)',
 'BKF': 'No PORT Code (BKF)',
 'DAY': 'No PORT Code (DAY)',
 'Y62': 'No PORT Code (Y62)',
 'AG': 'No PORT Code (AG)',
 'BCM': 'No PORT Code (BCM)',
 'DEC': 'No PORT Code (DEC)',
 'PLB': 'No PORT Code (PLB)',
 'CXO': 'No PORT Code (CXO)',
 'JBQ': 'No PORT Code (JBQ)',
 'JIG': 'No PORT Code (JIG)',
 'OGS': 'No PORT Code (OGS)',
 'TIW': 'No PORT Code (TIW)',
 'OTS': 'No PORT Code (OTS)',
 'AMT': 'No PORT Code (AMT)',
 'EGE': 'No PORT Code (EGE)',
 'GPI': 'No PORT Code (GPI)',
 'NGL': 'No PORT Code (NGL)',
 'OLM': 'No PORT Code (OLM)',
 '.GA': 'No PORT Code (.GA)',
 'CLX': 'No PORT Code (CLX)',
 'CP': 'No PORT Code (CP)',
 'FSC': 'No PORT Code (FSC)',
 'NK': 'No PORT Code (NK)',
 'ADU': 'No PORT Code (ADU)',
 'AKT': 'No PORT Code (AKT)',
 'LIT': 'No PORT Code (LIT)',
 'A2A': 'No PORT Code (A2A)',
 'OSN': 'No PORT Code (OSN)'}

In [75]:
i94visa = labels.get("I94VISA").get("values")
i94visa

{1: 'Business', 2: 'Pleasure', 3: 'Student'}

In [76]:
i94modes = labels.get("I94MODE").get("values")
i94modes

{1: 'Air', 2: 'Sea', 3: 'Land', 9: 'Not reported'}

In [77]:
mode_air_key = get_key_by_value(i94modes, "Air")
mode_air_key

1

Clean the immigration dataset

In [78]:
@F.udf(T.DateType())
def udf_sas_numeric_to_datetime(x):
    try:
        return datetime.datetime(1960, 1, 1) + datetime.timedelta(days=int(float(x)))
    except:
        return None

In [79]:
def extract_state_code_from_port(x):
    return x.split(",")[-1].replace("WASHINGTON DC","DC").replace("WASHINGTON #INTL", "DC").split("(")[0].split("#")[0].strip()

In [80]:
def extract_city_from_port(x):
    comma_split = x.split(",")
    last_seq_comma_split_removed = ",".join(comma_split[:-1]) if len(comma_split) > 1 else x
    return last_seq_comma_split_removed.strip()

In [81]:
def clean_city(city):
    blacklist = ["HWY. STATION", "#", "INTL", "Collapsed", "AIRP", "No PORT Code", "UNIDENTIFED", "UNKNOWN"]
    for sub_str in blacklist:
        if sub_str.lower() in city.lower():
            return None
    return city.replace("MUNICIPAL", "")

In [82]:
@F.udf(T.StringType())
def udf_get_missing_us_state_codes(x):
    try:
        port = x[0]
        state_code = x[1]
        extracted_state_code = extract_state_code_from_port(i94port.get(port)) if port else None
        return extracted_state_code if extracted_state_code in i94addr.keys() else state_code
    except:
        return state_code

In [83]:
@F.udf(T.StringType())
def udf_get_city_based_on_port(x):
    try:
        port = i94port.get(x)
        city = extract_city_from_port(port)
        return clean_city(city)
    except:
        return None

In [84]:
def clean_df_immigration(df):
    # Define relevant columns and new name
    relevant_old_to_new_cols = collections.OrderedDict({
        "i94yr": "year",
        "i94mon": "month",
        "i94addr": "state_code",
        "cicid": "cicid", 
        "i94cit": "citizenship_country_id", 
                            "i94res": "residency_country_id", 
                            "i94port": "port_id", 
                            "arrdate": "arrival_date", 
                            "i94mode": "mode",  
                            "depdate": "departure_date", 
                            "i94bir": "age", 
                            "biryear": "birth_year", 
                            "i94visa": "visa_id", 
                            "gender": "gender"})
    # Select old columns
    df_cleaned = df.select(*relevant_old_to_new_cols.keys())
    
    # Rename columns
    df_cleaned = df_cleaned.toDF(*relevant_old_to_new_cols.values())
    
    # Cast the data types
    df_cleaned = df_cleaned \
        .withColumn("year", df_cleaned.year.cast('int')) \
        .withColumn("month", df_cleaned.month.cast('int')) \
        .withColumn("cicid", df_cleaned.cicid.cast('int')) \
        .withColumn("citizenship_country_id", df_cleaned.citizenship_country_id.cast('int')) \
        .withColumn("residency_country_id", df_cleaned.residency_country_id.cast('int')) \
        .withColumn("mode", df_cleaned.mode.cast('int')) \
        .withColumn("visa_id", df_cleaned.visa_id.cast('int')) \
        .withColumn("age", df_cleaned.age.cast('int')) \
        .withColumn("birth_year", df_cleaned.birth_year.cast('int')) \
        .withColumn("arrival_date", udf_sas_numeric_to_datetime("arrival_date")) \
        .withColumn("departure_date", udf_sas_numeric_to_datetime("departure_date")) \
        .filter( F.col("mode") == mode_air_key) \
        .dropDuplicates()
    
    # Compute missing us state codes
    df_cleaned = df_cleaned \
        .withColumn("state_code", udf_get_missing_us_state_codes(F.struct(["port_id", "state_code"])))
    
    # Compute city based on port
    df_cleaned = df_cleaned \
        .withColumn("city", udf_get_city_based_on_port("port_id"))
    
    return df_cleaned

In [85]:
df_immigration_cleaned = clean_df_immigration(df_immigration)

Inspect the dataset after cleaning

In [86]:
df_immigration_cleaned.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- state_code: string (nullable = true)
 |-- cicid: integer (nullable = true)
 |-- citizenship_country_id: integer (nullable = true)
 |-- residency_country_id: integer (nullable = true)
 |-- port_id: string (nullable = true)
 |-- arrival_date: date (nullable = true)
 |-- mode: integer (nullable = true)
 |-- departure_date: date (nullable = true)
 |-- age: integer (nullable = true)
 |-- birth_year: integer (nullable = true)
 |-- visa_id: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- city: string (nullable = true)

In [87]:
df_immigration_cleaned.head(10)

[Row(year=2016, month=4, state_code='CA', cicid=861557, citizenship_country_id=209, residency_country_id=209, port_id='SDP', arrival_date=datetime.date(2016, 4, 5), mode=1, departure_date=datetime.date(2016, 4, 8), age=46, birth_year=1970, visa_id=2, gender='M', city='SAN DIEGO'),
 Row(year=2016, month=4, state_code='NY', cicid=2161755, citizenship_country_id=123, residency_country_id=123, port_id='NYC', arrival_date=datetime.date(2016, 4, 12), mode=1, departure_date=datetime.date(2016, 4, 14), age=60, birth_year=1956, visa_id=1, gender=None, city='NEW YORK'),
 Row(year=2016, month=4, state_code='DC', cicid=2903779, citizenship_country_id=135, residency_country_id=135, port_id='WAS', arrival_date=datetime.date(2016, 4, 16), mode=1, departure_date=datetime.date(2016, 6, 8), age=60, birth_year=1956, visa_id=2, gender='F', city='WASHINGTON DC'),
 Row(year=2016, month=4, state_code='CA', cicid=3380572, citizenship_country_id=266, residency_country_id=266, port_id='LOS', arrival_date=datetime.date(2016, 4, 18), mode=1, departure_date=None, age=23, birth_year=1993, visa_id=3, gender='M', city='LOS ANGELES'),
 Row(year=2016, month=4, state_code='CA', cicid=4344944, citizenship_country_id=464, residency_country_id=438, port_id='LOS', arrival_date=datetime.date(2016, 4, 23), mode=1, departure_date=datetime.date(2016, 5, 1), age=47, birth_year=1969, visa_id=1, gender='M', city='LOS ANGELES'),
 Row(year=2016, month=4, state_code='FL', cicid=3548734, citizenship_country_id=332, residency_country_id=332, port_id='ORL', arrival_date=datetime.date(2016, 4, 19), mode=1, departure_date=datetime.date(2016, 4, 30), age=9, birth_year=2007, visa_id=2, gender='F', city='ORLANDO'),
 Row(year=2016, month=4, state_code='CA', cicid=54324, citizenship_country_id=209, residency_country_id=209, port_id='LOS', arrival_date=datetime.date(2016, 4, 1), mode=1, departure_date=datetime.date(2016, 4, 6), age=59, birth_year=1957, visa_id=2, gender='F', city='LOS ANGELES'),
 Row(year=2016, month=4, state_code='NJ', cicid=687285, citizenship_country_id=213, residency_country_id=131, port_id='NEW', arrival_date=datetime.date(2016, 4, 4), mode=1, departure_date=datetime.date(2016, 4, 15), age=42, birth_year=1974, visa_id=1, gender='M', city='NEWARK/TETERBORO'),
 Row(year=2016, month=4, state_code='IL', cicid=3112694, citizenship_country_id=130, residency_country_id=130, port_id='CHI', arrival_date=datetime.date(2016, 4, 17), mode=1, departure_date=datetime.date(2016, 4, 21), age=44, birth_year=1972, visa_id=1, gender='M', city='CHICAGO'),
 Row(year=2016, month=4, state_code='FL', cicid=3849271, citizenship_country_id=124, residency_country_id=124, port_id='MIA', arrival_date=datetime.date(2016, 4, 21), mode=1, departure_date=datetime.date(2016, 4, 22), age=64, birth_year=1952, visa_id=2, gender=None, city='MIAMI')]

In [88]:
df_immigration_cleaned.count()

962

In [89]:
print_null_nan_values(df_immigration_cleaned)

+----+-----+----------+-----+----------------------+--------------------+-------+----+---+----------+-------+------+----+
|year|month|state_code|cicid|citizenship_country_id|residency_country_id|port_id|mode|age|birth_year|visa_id|gender|city|
+----+-----+----------+-----+----------------------+--------------------+-------+----+---+----------+-------+------+----+
|   0|    0|        10|    0|                     0|                   0|      0|   0|  0|         0|      0|   140|   1|
+----+-----+----------+-----+----------------------+--------------------+-------+----+---+----------+-------+------+----+

In [90]:
print_null_values_date(df_immigration_cleaned)

+------------+--------------+
|arrival_date|departure_date|
+------------+--------------+
|           0|            40|
+------------+--------------+

In [91]:
df_immigration_cleaned.filter( F.col("state_code").isNull()).head(5)

[Row(year=2016, month=4, state_code=None, cicid=6045611, citizenship_country_id=254, residency_country_id=276, port_id='SAI', arrival_date=datetime.date(2016, 4, 23), mode=1, departure_date=datetime.date(2016, 4, 26), age=4, birth_year=2012, visa_id=2, gender='M', city='SAIPAN'),
 Row(year=2016, month=4, state_code=None, cicid=5963522, citizenship_country_id=245, residency_country_id=245, port_id='SAI', arrival_date=datetime.date(2016, 4, 9), mode=1, departure_date=datetime.date(2016, 4, 11), age=28, birth_year=1988, visa_id=2, gender='F', city='SAIPAN'),
 Row(year=2016, month=4, state_code=None, cicid=6046172, citizenship_country_id=254, residency_country_id=276, port_id='SAI', arrival_date=datetime.date(2016, 4, 25), mode=1, departure_date=datetime.date(2016, 4, 28), age=11, birth_year=2005, visa_id=2, gender='X', city='SAIPAN'),
 Row(year=2016, month=4, state_code=None, cicid=5963414, citizenship_country_id=245, residency_country_id=245, port_id='SAI', arrival_date=datetime.date(2016, 4, 9), mode=1, departure_date=datetime.date(2016, 4, 11), age=44, birth_year=1972, visa_id=2, gender='F', city='SAIPAN'),
 Row(year=2016, month=4, state_code=None, cicid=4116830, citizenship_country_id=438, residency_country_id=438, port_id='VCV', arrival_date=datetime.date(2016, 4, 22), mode=1, departure_date=datetime.date(2016, 4, 23), age=39, birth_year=1977, visa_id=2, gender=None, city='VANCOUVER')]

In [92]:
df_immigration_cleaned.filter(F.col("city").isNull()).head(1)

[Row(year=2016, month=4, state_code='NV', cicid=2424686, citizenship_country_id=582, residency_country_id=582, port_id='RNO', arrival_date=datetime.date(2016, 4, 13), mode=1, departure_date=datetime.date(2016, 4, 20), age=16, birth_year=2000, visa_id=2, gender='M', city=None)]

In [93]:
port_id_no_city = df_immigration_cleaned.filter( F.col("city").isNull()).head(1)[0][df_immigration_cleaned.columns.index('port_id')]
p = i94port.get(port_id_no_city)
c = extract_city_from_port(p)
cc = clean_city(c)
print(port_id_no_city, p, c, cc)

RNO CANNON INTL - RENO/TAHOE, NV CANNON INTL - RENO/TAHOE None

In [94]:
df_immigration_cleaned.filter(F.col("gender").isNull()).head(5)

[Row(year=2016, month=4, state_code='NY', cicid=2161755, citizenship_country_id=123, residency_country_id=123, port_id='NYC', arrival_date=datetime.date(2016, 4, 12), mode=1, departure_date=datetime.date(2016, 4, 14), age=60, birth_year=1956, visa_id=1, gender=None, city='NEW YORK'),
 Row(year=2016, month=4, state_code='FL', cicid=3849271, citizenship_country_id=124, residency_country_id=124, port_id='MIA', arrival_date=datetime.date(2016, 4, 21), mode=1, departure_date=datetime.date(2016, 4, 22), age=64, birth_year=1952, visa_id=2, gender=None, city='MIAMI'),
 Row(year=2016, month=4, state_code='GA', cicid=3870400, citizenship_country_id=148, residency_country_id=112, port_id='ATL', arrival_date=datetime.date(2016, 4, 21), mode=1, departure_date=datetime.date(2016, 4, 27), age=35, birth_year=1981, visa_id=2, gender=None, city='ATLANTA'),
 Row(year=2016, month=4, state_code='CA', cicid=3722852, citizenship_country_id=438, residency_country_id=438, port_id='LOS', arrival_date=datetime.date(2016, 4, 20), mode=1, departure_date=datetime.date(2016, 4, 27), age=72, birth_year=1944, visa_id=2, gender=None, city='LOS ANGELES'),
 Row(year=2016, month=4, state_code='FL', cicid=38637, citizenship_country_id=135, residency_country_id=135, port_id='ORL', arrival_date=datetime.date(2016, 4, 1), mode=1, departure_date=datetime.date(2016, 4, 16), age=14, birth_year=2002, visa_id=2, gender=None, city='ORLANDO')]

In [95]:
df_immigration_cleaned.filter(F.col("departure_date").isNull()).head(5)

[Row(year=2016, month=4, state_code='CA', cicid=3380572, citizenship_country_id=266, residency_country_id=266, port_id='LOS', arrival_date=datetime.date(2016, 4, 18), mode=1, departure_date=None, age=23, birth_year=1993, visa_id=3, gender='M', city='LOS ANGELES'),
 Row(year=2016, month=4, state_code='NY', cicid=5020169, citizenship_country_id=113, residency_country_id=113, port_id='NYC', arrival_date=datetime.date(2016, 4, 27), mode=1, departure_date=None, age=33, birth_year=1983, visa_id=2, gender='M', city='NEW YORK'),
 Row(year=2016, month=4, state_code='NY', cicid=1553520, citizenship_country_id=692, residency_country_id=692, port_id='NYC', arrival_date=datetime.date(2016, 4, 8), mode=1, departure_date=None, age=1, birth_year=2015, visa_id=2, gender='F', city='NEW YORK'),
 Row(year=2016, month=4, state_code='GU', cicid=5957654, citizenship_country_id=254, residency_country_id=276, port_id='SAI', arrival_date=datetime.date(2016, 4, 12), mode=1, departure_date=None, age=20, birth_year=1996, visa_id=2, gender='M', city='SAIPAN'),
 Row(year=2016, month=4, state_code='GU', cicid=6034994, citizenship_country_id=252, residency_country_id=209, port_id='AGA', arrival_date=datetime.date(2016, 4, 29), mode=1, departure_date=None, age=23, birth_year=1993, visa_id=2, gender='M', city='AGANA')]

In [96]:
assert df_immigration_cleaned.count() == df_immigration_cleaned.select(F.countDistinct("cicid")).collect()[0][0]

Save the cleaned dataset

In [97]:
df_immigration_cleaned.write.partitionBy("year", "month", "state_code").mode("overwrite").parquet(DATA_CLEANED_IMMIGRATION_PARQUET)

<a id='c-airport'></a>
#### 3.2.2. Airport Codes

Inspect the mapping of immigration and airport df

In [98]:
def get_df_map_immigration_airport(df_us_airport, i94port_unique_sample):
    json_map_immigration_airport = {"i94p": [], "city": [], "cleaned_city": [], "airport_name_codes": [], "airport_index_codes": [], "airport_codes": [],
                                    "airport_index_municipality": [], "airport_municipality": []}
    airport_code_query = "iata_code == '{port}' or local_code == '{port}' or gps_code == '{port}' or ident == '{port}'"
    for i94p in i94port_unique_sample:
        cq = df_us_airport.query(airport_code_query.format(port=i94p))
        ic = cq.index.values
        an = df_us_airport.loc[ic][["name"]].values if len(ic) > 0 else None
        ac = df_us_airport.loc[ic][["local_code", "iata_code", "ident", "gps_code"]].values if len(ic) > 0 else None
        p = i94port.get(i94p)
        c = extract_city_from_port(p)
        cc = clean_city(c)
        mm = df_us_airport.municipality.notnull() & df_us_airport.municipality.str.upper().str.contains(cc) if cc else None
        mq = df_us_airport[mm] if cc else None
        im = mq.index.values if cc else None
        am = mq.municipality.values if cc and len(im) > 0 else None
        json_map_immigration_airport["i94p"].append(i94p)
        json_map_immigration_airport["city"].append(c)
        json_map_immigration_airport["cleaned_city"].append(cc)
        json_map_immigration_airport["airport_index_codes"].append(ic)
        json_map_immigration_airport["airport_name_codes"].append(an)
        json_map_immigration_airport["airport_codes"].append(ac)
        json_map_immigration_airport["airport_index_municipality"].append(im)
        json_map_immigration_airport["airport_municipality"].append(am)
    return pd.DataFrame(json_map_immigration_airport)

In [99]:
df_map_immigration_airport = get_df_map_immigration_airport(df_us_airport, i94port_unique_sample)
print(df_map_immigration_airport.shape)
df_map_immigration_airport.head(10)

(70, 8)

,i94p,city,cleaned_city,airport_name_codes,airport_index_codes,airport_codes,airport_index_municipality,airport_municipality
0,HHW,HONOLULU,HONOLULU,[[Stan Stamper Municipal Airport]],[27465],"[[HHW, HUJ, KHHW, KHHW]]","[22948, 22954, 22962, 22963, 22970, 22971, 387...","[Honolulu, Honolulu, Honolulu, Honolulu, Honol..."
1,MCA,MCALLEN,MCALLEN,None,[],None,[],None
2,OGG,KAHULUI - MAUI,KAHULUI - MAUI,[[Kahului Airport]],[38756],"[[OGG, OGG, PHOG, PHOG]]",[],None
3,LOS,LOS ANGELES,LOS ANGELES,None,[],None,"[71, 639, 641, 666, 1459, 2500, 2565, 2751, 29...","[Los Angeles, Los Angeles, West Los Angeles, L..."
4,CHM,CHAMPLAIN,CHAMPLAIN,None,[],None,[],None
5,ATL,ATLANTA,ATLANTA,[[Hartsfield Jackson Atlanta International Air...,[26128],"[[ATL, ATL, KATL, KATL]]","[1914, 3708, 3956, 4313, 5840, 5869, 5978, 632...","[Atlanta, Atlanta, Atlanta, Atlanta, Atlanta, ..."
6,SFR,SAN FRANCISCO,SAN FRANCISCO,[[San Fernando Airport]],[42481],"[[nan, SFR, SFR, nan]]","[1560, 13681, 13682, 13685, 15239, 29940, 4920...","[San Francisco, San Francisco, San Francisco, ..."
7,NYC,NEW YORK,NEW YORK,None,[],None,"[2746, 5445, 7431, 7432, 7433, 25070, 25072, 2...","[New York Mills, New York Mills, New York, New..."
8,CHI,CHICAGO,CHICAGO,None,[],None,"[4748, 5326, 5350, 5366, 6937, 7333, 9996, 239...","[Chicago, Chicago/Schaumburg, West Chicago, Ch..."
9,PHI,PHILADELPHIA,PHILADELPHIA,None,[],None,"[292, 353, 1238, 1359, 2082, 2218, 2219, 2235,...","[Philadelphia, Philadelphia, Philadelphia, Phi..."

Clean the airport dataset

In [100]:
def clean_df_airport(csv_file):
    df_cleaned = spark.read.option("header", True).csv(csv_file)
    airport_columns = ["iso_region", "municipality", "iata_code", "local_code", "name", "type", "iso_country"]
    df_cleaned = df_cleaned \
        .select(*airport_columns) \
        .filter( F.col("iso_country") == "US") \
        .withColumnRenamed("iso_region", "state_Code") \
        .withColumn("municipality", F.upper( F.col("municipality"))) \
        .dropDuplicates()
    airport_columns.remove("iso_region") 
    airport_columns.append("state_code")
    df_cleaned = df_cleaned \
        .select(*airport_columns) \
        .withColumn("state_code", F.regexp_replace("state_code", "US-", "")) 
    airport_spark_obsolete_columns = ["iso_country"]
    return df_cleaned.drop(*airport_spark_obsolete_columns)

In [101]:
df_airport_cleaned = clean_df_airport(str(DATA_RAW_AIRPORT_CSV))

Inspect the dataset after cleaning

In [102]:
df_airport_cleaned.printSchema()

root
 |-- municipality: string (nullable = true)
 |-- iata_code: string (nullable = true)
 |-- local_code: string (nullable = true)
 |-- name: string (nullable = true)
 |-- type: string (nullable = true)
 |-- state_code: string (nullable = true)

In [103]:
df_airport_cleaned.count()

22754

In [104]:
df_airport_cleaned.head(10)

[Row(municipality='VICTORY BIBLE CAMP', iata_code=None, local_code='0AK6', name='Victory Airport', type='small_airport', state_code='AK'),
 Row(municipality='BROADVIEW', iata_code=None, local_code='0IL1', name='Loyola University Medical Center Heliport', type='heliport', state_code='IL'),
 Row(municipality='SEQUIM', iata_code=None, local_code='0WN0', name="Rucilla's Roost Airport", type='small_airport', state_code='WA'),
 Row(municipality='MONTPELIER', iata_code=None, local_code='16ID', name='Bear Lake Memorial Hospital Helipad', type='heliport', state_code='ID'),
 Row(municipality='LANCASTER', iata_code=None, local_code='1CL1', name='Little Buttes Antique Airfield', type='small_airport', state_code='CA'),
 Row(municipality='MOJAVE', iata_code=None, local_code='1CL2', name='Pontious Airport', type='small_airport', state_code='CA'),
 Row(municipality='CAMBRIDGE', iata_code=None, local_code='1MD1', name='Big Oak Farm Airport', type='small_airport', state_code='MD'),
 Row(municipality='NEW BRUNSWICK', iata_code=None, local_code='1NJ2', name='New Brunswick Gas Distn Heliport', type='heliport', state_code='NJ'),
 Row(municipality='CENTERVILLE', iata_code=None, local_code='24TA', name='Moore Ranch Airport', type='small_airport', state_code='TX'),
 Row(municipality='PINEHURST', iata_code=None, local_code='2GA3', name='Wrights Field', type='small_airport', state_code='GA')]

In [105]:
print_null_nan_values(df_airport_cleaned)

+------------+---------+----------+----+----+----------+
|municipality|iata_code|local_code|name|type|state_code|
+------------+---------+----------+----+----+----------+
|         102|    20736|      1520|   0|   0|         0|
+------------+---------+----------+----+----+----------+

Save the cleaned dataset

In [106]:
df_airport_cleaned.write.partitionBy("state_code", "municipality").mode("overwrite").parquet(DATA_CLEANED_AIRPORT_PARQUET)

<a id='c-demographic'></a>
#### 3.2.3. US City Demographic

Inspect the mapping of immigration and demographic dataset

In [107]:
def get_immigration_sample_cleaned_cities(i94port_unique_sample):
    immigration_sample_cleaned_cities = set()
    for i94p in i94port_unique_sample:
        p = i94port.get(i94p)
        c = extract_city_from_port(p)
        cc = clean_city(c)
        if cc:
            immigration_sample_cleaned_cities.add(cc)
    print(f"Number of cleaned cities in immigration sample df: {len(immigration_sample_cleaned_cities)}")
    return immigration_sample_cleaned_cities

In [108]:
def get_demo_uniq_cities_set(df_demo_uniq_city):
    demo_uniq_city_set = set(df_demo_uniq_city.str.upper().values)
    print(f"Number of cities in demo df: {len(demo_uniq_city_set)}")
    return demo_uniq_city_set

In [109]:
i_cities = get_immigration_sample_cleaned_cities(i94port_unique_sample)
d_cities = get_demo_uniq_cities_set(df_demo_uniq_city)
i_cities_in_d = {ic for ic in i_cities for dc in d_cities if ic in dc}
print(f"Number of immigration cities in demographic df: {len(i_cities_in_d)} ({len(i_cities_in_d)/len(i_cities)*100}%)")

Number of cleaned cities in immigration sample df: 68
Number of cities in demo df: 567
Number of immigration cities in demographic df: 36 (52.94117647058824%)

Clean the demographic df

In [110]:
def clean_df_demo(csv_file):
    df_cleaned = spark.read.csv(csv_file, sep=";", header=True)
    demo_org_columns = ["State Code", "City", "Median Age", "Male Population", "Female Population", "Total Population", 
                        "Average Household Size", "Foreign-born", "Number of Veterans"]
    demo_unordered_cols = dict()
    for c in demo_org_columns:
        demo_unordered_cols[c] = c.replace("-","_").replace(" ","_").lower()
    demo_relevant_old_to_new_cols = collections.OrderedDict(demo_unordered_cols)
    df_cleaned = df_cleaned.select(*demo_relevant_old_to_new_cols.keys()).dropDuplicates()
    df_cleaned = df_cleaned.toDF(*demo_relevant_old_to_new_cols.values())
    df_cleaned = df_cleaned \
        .withColumn("city", F.upper( F.col("city"))) \
        .withColumn("median_age", df_cleaned.median_age.cast('int')) \
        .withColumn("male_population", df_cleaned.male_population.cast('int')) \
        .withColumn("female_population", df_cleaned.female_population.cast('int')) \
        .withColumn("total_population", df_cleaned.total_population.cast('int')) \
        .withColumn("foreign_born", df_cleaned.foreign_born.cast('int')) \
        .withColumn("number_of_veterans", df_cleaned.number_of_veterans.cast('int')) \
        .withColumn("average_household_size", df_cleaned.average_household_size.cast('double'))
    return df_cleaned

In [111]:
df_demo_cleaned = clean_df_demo(str(DATA_RAW_US_DEMO_CSV))

Inspect the dataset after cleaning

In [112]:
df_demo_cleaned.printSchema()

root
 |-- state_code: string (nullable = true)
 |-- city: string (nullable = true)
 |-- median_age: integer (nullable = true)
 |-- male_population: integer (nullable = true)
 |-- female_population: integer (nullable = true)
 |-- total_population: integer (nullable = true)
 |-- average_household_size: double (nullable = true)
 |-- foreign_born: integer (nullable = true)
 |-- number_of_veterans: integer (nullable = true)

In [113]:
df_demo_cleaned.count()

596

In [114]:
df_demo_cleaned.select([F.count(F.when(F.isnan(c) |  F.col(c).isNull(), c)).alias(c) for c in df_demo_cleaned.columns]).show()

+----------+----+----------+---------------+-----------------+----------------+----------------------+------------+------------------+
|state_code|city|median_age|male_population|female_population|total_population|average_household_size|foreign_born|number_of_veterans|
+----------+----+----------+---------------+-----------------+----------------+----------------------+------------+------------------+
|         0|   0|         0|              1|                1|               0|                     8|           7|                 7|
+----------+----+----------+---------------+-----------------+----------------+----------------------+------------+------------------+

In [115]:
df_demo_cleaned.head(10)

[Row(state_code='RI', city='PROVIDENCE', median_age=29, male_population=89090, female_population=90114, total_population=179204, average_household_size=2.72, foreign_born=53532, number_of_veterans=4933),
 Row(state_code='TX', city='LEWISVILLE', median_age=31, male_population=52776, female_population=52032, total_population=104808, average_household_size=2.78, foreign_born=24865, number_of_veterans=4211),
 Row(state_code='UT', city='LAYTON', median_age=29, male_population=37748, female_population=36394, total_population=74142, average_household_size=3.24, foreign_born=4268, number_of_veterans=3811),
 Row(state_code='PR', city='SAN JUAN', median_age=41, male_population=155408, female_population=186829, total_population=342237, average_household_size=None, foreign_born=None, number_of_veterans=None),
 Row(state_code='FL', city='WESTON', median_age=38, male_population=32956, female_population=36991, total_population=69947, average_household_size=3.34, foreign_born=30876, number_of_veterans=1507),
 Row(state_code='NC', city='FAYETTEVILLE', median_age=30, male_population=101051, female_population=100914, total_population=201965, average_household_size=2.5, foreign_born=12863, number_of_veterans=28089),
 Row(state_code='KS', city='TOPEKA', median_age=37, male_population=60879, female_population=66378, total_population=127257, average_household_size=2.32, foreign_born=6711, number_of_veterans=9608),
 Row(state_code='FL', city='HIALEAH', median_age=43, male_population=111530, female_population=125552, total_population=237082, average_household_size=3.31, foreign_born=170148, number_of_veterans=1844),
 Row(state_code='FL', city='FORT MYERS', median_age=37, male_population=36850, female_population=37165, total_population=74015, average_household_size=2.45, foreign_born=15365, number_of_veterans=4312),
 Row(state_code='MN', city='WOODBURY', median_age=37, male_population=31982, female_population=35868, total_population=67850, average_household_size=2.72, foreign_born=9477, number_of_veterans=2732)]

Save the cleaned dataset

In [116]:
df_demo_cleaned.write.partitionBy("state_code").mode("overwrite").parquet(DATA_CLEANED_DEMO_PARQUET)

<a id='model-definition'></a>
## 4. Data Model Definition
<a id='model-conceptual'></a>
### 4.1. Conceptual Data Model

![](docs/conceptual_erd_star.drawio.png)

The illustration above shows a conceptual ERD of the database. A star schema with fact and dimension tables was defined to allow analytic queries as stated within the project scope. The schema is optimized for OLAP and BI.


<a id='etl-definition'></a>
### 4.2. ETL Definition

The prequisite for the ETL pipeline is that the raw data was cleaned and stored in Apache parquet format as described in step 3.2. within this notebook.

The tree of the data directory is illustrated and described in the [README.md](README.md#data-directory-tree).

The ETL will consists of the following steps to pipeline the cleaned data into the chosen data model:
1. Select the data of the cleaned immigration dataset `df_immigration_cleaned` to create the `d_visitors` dimension table and compute a uniqe id for each record. Partition the data by `year` and `month`. Without the unique id the records would look like that they contains duplicates, since the column `cicid` has been dropped (i.e. 2 persons with the same characteristics visited the US on the same date and port). 
1. Select the data of the cleaned immigration dataset `df_immigration_cleaned` to create the `f_us_immigrations` fact table. Drop duplicate records. Afterwards compute a uniqe id for each record. Partion the data by `year`, `month` and `state_code`. 
1. Select the data of the cleaned airport dataset `df_airport_cleaned` to create the `d_us_airports` dimension table. Drop duplicate records. Afterwards compute a uniqe id for each record. Partion the data by `state_code` and `municipality`.
1. Select the data of the cleaned US city demographic dataset `df_demo_cleaned` to create the `d_us_demo` dimension table. Drop duplicate records. Afterwards compute a uniqe id for each record. Partion the data by `state_code`.
1. Finally, compute checks to assure data quality.

<a id='etl'></a>
## 5. Run ETL Pipeline
<a id='model-creation'></a>
### 5.1. Data Model Creation

In [117]:
# Uncomment the following lines to read the parquet files and skip the previous cleaning steps
# df_immigration_cleaned = spark.read.parquet(DATA_CLEANED_IMMIGRATION_PARQUET)
# df_airport_cleaned = spark.read.parquet(DATA_CLEANED_AIRPORT_PARQUET)
# df_demo_cleaned = spark.read.parquet(DATA_CLEANED_DEMO_PARQUET)

Compute dimension table d_visitor

In [118]:
def generate_d_visitors(df_immigration_cleaned):
    d_visitors_partition_cols = ["year", "month"]
    d_visitors_cols = d_visitors_partition_cols + ["id", "port_id", "arrival_date", "departure_date", "citizenship_country_id",
                                                   "residency_country_id", "age", "birth_year", "gender", "visa_id"]
    d_visitors = df_immigration_cleaned.select(*df_immigration_cleaned.columns) \
        .withColumn("monotonically_increasing_id", F.monotonically_increasing_id())
    window = Window.orderBy( F.col('monotonically_increasing_id'))
    d_visitors = d_visitors.withColumn('id', F.row_number().over(window))
    d_visitors = d_visitors.drop(*[c for c in d_visitors.columns if c not in d_visitors_cols]).select(*d_visitors_cols)
    d_visitors.write.partitionBy(*d_visitors_partition_cols).mode("overwrite").parquet(DATA_PROCESSED_D_VISITORS)
    return d_visitors

In [119]:
d_visitors = generate_d_visitors(df_immigration_cleaned)

Compute fact table f_us_immigrations

In [120]:
def generate_f_us_immigrations(df_immigration_cleaned):
    f_us_immigrations_partition_cols = ["year", "month", "state_code"]
    f_us_immigrations_cols = f_us_immigrations_partition_cols + ["id", "city", "port_id"]
    f_us_immigrations = df_immigration_cleaned.select(*[c for c in f_us_immigrations_cols if c != "id"]) \
        .dropDuplicates() \
        .withColumn("monotonically_increasing_id", F.monotonically_increasing_id())
    window = Window.orderBy( F.col('monotonically_increasing_id'))
    f_us_immigrations = f_us_immigrations.withColumn('id', F.row_number().over(window))
    f_us_immigrations = f_us_immigrations.drop(*[c for c in f_us_immigrations.columns if c not in f_us_immigrations_cols]).select(*f_us_immigrations_cols)
    f_us_immigrations.write.partitionBy(*f_us_immigrations_partition_cols).mode("overwrite").parquet(DATA_PROCESSED_F_IMMIGRATIONS)
    return f_us_immigrations

In [121]:
f_us_immigrations = generate_f_us_immigrations(df_immigration_cleaned)

Compute dimension table d_us_airports

In [122]:
def generate_d_us_airports(df_airport_cleaned):
    d_us_airports_partition_cols = ["state_code", "municipality"]
    d_us_airports_cols = d_us_airports_partition_cols + ["id", "iata_code", "local_code", "name", "type"]
    d_us_airports = df_airport_cleaned.select(*[c for c in d_us_airports_cols if c != "id"]) \
        .dropDuplicates() \
        .withColumn("monotonically_increasing_id", F.monotonically_increasing_id())
    window = Window.orderBy( F.col('monotonically_increasing_id'))
    d_us_airports = d_us_airports.withColumn('id', F.row_number().over(window))
    d_us_airports = d_us_airports.drop(*[c for c in d_us_airports.columns if c not in d_us_airports_cols]).select(*d_us_airports_cols)
    d_us_airports.write.partitionBy(*d_us_airports_partition_cols).mode("overwrite").parquet(DATA_PROCESSED_D_AIRPORTS)
    return d_us_airports

In [123]:
d_us_airports = generate_d_us_airports(df_airport_cleaned)

Compute dimension table d_us_demo

In [124]:
def generate_d_us_demo(df_demo_cleaned):
    d_us_demo_partition_cols = ["state_code"]
    d_us_demo_cols = d_us_demo_partition_cols + ["id", "city", "median_age", "male_population", "female_population", 
                                                 "total_population", "average_household_size", 
                                                 "foreign_born", "number_of_veterans"]
    d_us_demo = df_demo_cleaned.select(*[c for c in d_us_demo_cols if c != "id"]) \
        .dropDuplicates() \
        .withColumn("monotonically_increasing_id", F.monotonically_increasing_id())
    window = Window.orderBy( F.col('monotonically_increasing_id'))
    d_us_demo = d_us_demo.withColumn('id', F.row_number().over(window))
    d_us_demo = d_us_demo.drop(*[c for c in d_us_demo.columns if c not in d_us_demo_cols]).select(*d_us_demo_cols)
    d_us_demo.write.partitionBy(*d_us_demo_partition_cols).mode("overwrite").parquet(DATA_PROCESSED_D_DEMOGRAPHIC)
    return d_us_demo

In [125]:
d_us_demo = generate_d_us_demo(df_demo_cleaned)

<a id='dict'></a>
### 5.2. Data Dictionary 

Below is for each analytic table of the data model the column name, data type and a short description listed. Some columns only represent an id for which the value can be retrieved using the json dictionaries stored in `data/processed/immigration_data_dict`.

Since Pyspark was used, the listed data types for each table below refer to [Spark data types](https://spark.apache.org/docs/latest/sql-ref-datatypes.html). 

### US Immigration Fact Table: `f_us_immigrations`

| Table Column | Data Type    | Description  |
| ------------ | ------------ | ------------ |
| year | `IntegerType`  | 4-digit year, primary partition key |
| month | `IntegerType` | Numeric month, secondary partition key |
| state_code | `StringType` | US state code, tertiary partition key, use the json dictionary `data/processed/immigration_data_dict/I94ADDR.json` to retrieve the US state name based on the code |
| id | `IntegerType` | Auto generated unique id  |
| city | `StringType` | Name of city extracted from json dictionary `data/processed/immigration_data_dict/I94PORT.json` based on the `port_id` |
| port_id | `StringType` |  Port id for which the name can be retrieved using the json dictionary `data/processed/immigration_data_dict/I94PORT.json` |


### Visitor Dimension Table: `d_visitors`

| Table Column | Data Type    | Description  |
| ------------ | ------------ | ------------ |
| year | `IntegerType`  | 4-digit year, primary partition key |
| month | `IntegerType` | Numeric month, secondary partition key |
| id | `IntegerType` | Auto generated unique id  |
| port_id | `StringType` |  Port id for which the name can be retrieved using the json dictionary `data/processed/immigration_data_dict/I94PORT.json` |
| arrival_date | `DateType` |  Arrival date 
| departure_date |  `DateType` |  Departure date |
| citizenship_country_id | `IntegerType` | Citizenship country id for which the name can be retrieved using the json dictionary `data/processed/immigration_data_dict/I94CIT_I94RES.json` |
| residency_country_id | `IntegerType` |  Residency country id for which the name can be retrieved using the json dictionary `data/processed/immigration_data_dict/I94CIT_I94RES.json` |
| age | `IntegerType`|  Age on arrival date |
| birth_year | `IntegerType`|  Birth year |
| gender | `StringType` |  Sex |
| visa_id | `IntegerType` |  Visa id for which the name can be retrieved using the json dictionary `data/processed/immigration_data_dict/I94VISA.json` |


### US Airport Dimension Table: `d_us_airports`

| Table Column | Data Type    | Description  |
| ------------ | ------------ | ------------ |
| state_code | `StringType` | US state code, primary partition key, use the json dictionary `data/processed/immigration_data_dict/I94ADDR.json` to retrieve the US state name based on the code |
| municipality | `StringType` | Municipality in which the Airport is located, secondary partition key |
| id | `IntegerType` | Auto generated unique id  |
| iata_code | `StringType` | "International Air Transport Association" code |
| local_code | `StringType` | Local code used in the US |
| name | `StringType` |  Name |
| type | `StringType` |  Type, e.g. large, small, closed Airport |

### US City Demographic Dimension Table: `d_us_demo`

| Table Column | Data Type    | Description  |
| ------------ | ------------ | ------------ |
| state_code | `StringType` | US state code, primary partition key, use the json dictionary `data/processed/immigration_data_dict/I94ADDR.json` to retrieve the US state name based on the code |
| id | `IntegerType` | Auto generated unique id  |
| city | `StringType` | Name of city |
| median_age | `IntegerType` | Media age of the city population |
| male_population | `IntegerType` | Male population of the city |
| female_population | `IntegerType` | Female population of the city |
| total_population | `IntegerType` | Total population of the city |
| average_household_size | `DoubleType` | Average household size of the city |
| foreign_born | `IntegerType` | Persons not born in the US with residency in the city|
| number_of_veterans | `IntegerType` | Number of veterans with residency in the city|

<a id='quality'></a>
### 5.3. Data Quality Checks

To assure data quality, the following check will be performed:
1. Verify that each table is not empty
1. Verify that for each table a unique id per row has been computed
1. Manually verify that the tables match the defined data model and data types
1. Run an analytics query joining multiple table to provide evidence: Are immigrants travel to cities with generally more immigrants and more Airports?

**5.3.1. Verify that each table is not empty**

In [126]:
d_visitors_count = d_visitors.count()
d_visitors_count

962

In [127]:
assert d_visitors_count > 0

In [128]:
f_us_immigrations_count = f_us_immigrations.count()
f_us_immigrations_count

68

In [129]:
assert f_us_immigrations_count > 0

In [130]:
d_us_airports_count = d_us_airports.count()
d_us_airports_count

22754

In [131]:
assert d_us_airports_count > 0

In [132]:
d_us_demo_count = d_us_demo.count()
d_us_demo_count

596

In [133]:
assert d_us_demo_count > 0

**5.3.2. Verify that for each table a unique id per row has been computed**

In [134]:
d_visitors_count_id = d_visitors.select(F.countDistinct("id")).collect()[0][0]
d_visitors_count_id

962

In [135]:
assert d_visitors_count == d_visitors_count_id

In [136]:
f_us_immigrations_count_id = f_us_immigrations.select(F.countDistinct("id")).collect()[0][0]
f_us_immigrations_count_id

68

In [137]:
assert f_us_immigrations_count == f_us_immigrations_count_id

In [138]:
d_us_airports_count_id = d_us_airports.select(F.countDistinct("id")).collect()[0][0]
d_us_airports_count_id

22754

In [139]:
assert d_us_airports_count == d_us_airports_count_id

In [140]:
d_us_demo_count_id = d_us_demo.select(F.countDistinct("id")).collect()[0][0]
d_us_demo_count_id

596

In [141]:
assert d_us_demo_count == d_us_demo_count_id

**5.3.3. Manually verify that the tables match the defined data model and data types**

In [142]:
d_visitors.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- id: integer (nullable = true)
 |-- port_id: string (nullable = true)
 |-- arrival_date: date (nullable = true)
 |-- departure_date: date (nullable = true)
 |-- citizenship_country_id: integer (nullable = true)
 |-- residency_country_id: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- birth_year: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- visa_id: integer (nullable = true)

In [143]:
f_us_immigrations.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- state_code: string (nullable = true)
 |-- id: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- port_id: string (nullable = true)

In [144]:
d_us_airports.printSchema()

root
 |-- state_code: string (nullable = true)
 |-- municipality: string (nullable = true)
 |-- id: integer (nullable = true)
 |-- iata_code: string (nullable = true)
 |-- local_code: string (nullable = true)
 |-- name: string (nullable = true)
 |-- type: string (nullable = true)

In [145]:
d_us_demo.printSchema()

root
 |-- state_code: string (nullable = true)
 |-- id: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- median_age: integer (nullable = true)
 |-- male_population: integer (nullable = true)
 |-- female_population: integer (nullable = true)
 |-- total_population: integer (nullable = true)
 |-- average_household_size: double (nullable = true)
 |-- foreign_born: integer (nullable = true)
 |-- number_of_veterans: integer (nullable = true)

**5.3.4. Run an analytics query joining multiple table to provide evidence**

Are immigrants travel to cities with generally more immigrants or US states with most Airports?

In [146]:
count_visitors_per_city = f_us_immigrations.alias("f") \
    .join(d_visitors.alias("dv"), f_us_immigrations.port_id == d_visitors.port_id) \
    .select("f.year", "f.month", F.col("f.city").alias("City")) \
    .filter((f_us_immigrations.year == 2016) & (f_us_immigrations.month == 4)) \
    .groupBy("City").count() \
    .distinct() \
    .orderBy(F.desc("count"))

count_visitor_city_foreign_born = count_visitors_per_city.alias("cvpc") \
    .join(d_us_demo.alias("dd"), count_visitors_per_city.City == d_us_demo.city) \
    .select("cvpc.City", F.col("dd.foreign_born").alias("Foreign Born Count per Year"), F.col("count").alias("Visitor Count for April 2016")) \
    .distinct() \
    .orderBy(F.desc("Foreign Born Count per Year"))

count_visitor_city_foreign_born.show()

+-------------+---------------------------+----------------------------+
|         City|Foreign Born Count per Year|Visitor Count for April 2016|
+-------------+---------------------------+----------------------------+
|     NEW YORK|                    3212500|                         155|
|  LOS ANGELES|                    1485425|                         104|
|      HOUSTON|                     696210|                          30|
|      CHICAGO|                     573463|                          45|
|     SAN JOSE|                     401493|                           2|
|    SAN DIEGO|                     373842|                           2|
|       DALLAS|                     326825|                          18|
|      PHOENIX|                     300702|                          15|
|SAN FRANCISCO|                     297199|                          54|
|        MIAMI|                     260789|                         110|
|  SAN ANTONIO|                     208046|                           1|
| PHILADELPHIA|                     205339|                          11|
|       BOSTON|                     190123|                          18|
|    CHARLOTTE|                     128897|                           6|
|    LAS VEGAS|                     127609|                          22|
|      SEATTLE|                     119840|                          16|
|      OAKLAND|                     113896|                           2|
|       DENVER|                     113222|                           2|
|     COLUMBUS|                     101129|                           1|
|     PORTLAND|                      86041|                           4|
+-------------+---------------------------+----------------------------+
only showing top 20 rows

In [147]:
count_visitor_city_foreign_born.orderBy("Foreign Born Count per Year").show()

+---------------+---------------------------+----------------------------+
|           City|Foreign Born Count per Year|Visitor Count for April 2016|
+---------------+---------------------------+----------------------------+
|       PORTLAND|                       9229|                           4|
|       COLUMBUS|                      10376|                           1|
|     FORT MYERS|                      15365|                           6|
|    NEW ORLEANS|                      21679|                           1|
|      VANCOUVER|                      21748|                           6|
|WEST PALM BEACH|                      30675|                           3|
|        ATLANTA|                      32016|                          37|
| SALT LAKE CITY|                      32166|                           1|
|        MCALLEN|                      37691|                           1|
|        DETROIT|                      39861|                          12|
|FORT LAUDERDALE|                      47582|                          26|
|        ONTARIO|                      48557|                           1|
|      BALTIMORE|                      49857|                           2|
|        ORLANDO|                      50558|                          39|
|      MILWAUKEE|                      58321|                           1|
|          TAMPA|                      58795|                          10|
|       PORTLAND|                      86041|                           4|
|       COLUMBUS|                     101129|                           1|
|         DENVER|                     113222|                           2|
|        OAKLAND|                     113896|                           2|
+---------------+---------------------------+----------------------------+
only showing top 20 rows

In [148]:
count_visitors_per_state = f_us_immigrations.alias("f") \
    .join(d_visitors.alias("dv"), f_us_immigrations.port_id == d_visitors.port_id) \
    .select("f.year", "f.month", F.col("f.state_code").alias("state_code")) \
    .filter((f_us_immigrations.year == 2016) & (f_us_immigrations.month == 4)) \
    .groupBy("state_code").count() \
    .distinct() \
    .orderBy(F.desc("count"))

count_airports_per_state = d_us_airports.alias("da") \
    .select("state_code") \
    .groupBy("state_code").count() \
    .distinct() \
    .orderBy(F.desc("count"))

count_visitor_state_airports = count_visitors_per_state.alias("cvps") \
    .join(count_airports_per_state.alias("caps"), count_visitors_per_state.state_code == count_airports_per_state.state_code) \
    .select(F.col("cvps.state_code").alias("State Code"), F.col("caps.count").alias("Airport Count"), F.col("cvps.count").alias("Visitor Count for April 2016")) \
    .distinct() \
    .orderBy(F.desc("Airport Count"))

count_visitor_state_airports.show()

+----------+-------------+----------------------------+
|State Code|Airport Count|Visitor Count for April 2016|
+----------+-------------+----------------------------+
|        TX|         2276|                          51|
|        CA|         1088|                         183|
|        FL|          967|                         206|
|        PA|          918|                          11|
|        IL|          902|                          60|
|        OH|          799|                           5|
|        NY|          668|                         169|
|        WI|          624|                           1|
|        LA|          592|                           1|
|        WA|          578|                          16|
|        MN|          569|                           4|
|        MI|          549|                          12|
|        GA|          522|                          41|
|        CO|          505|                           2|
|        OR|          492|                           4|
|        NC|          473|                           6|
|        NJ|          442|                          45|
|        AZ|          359|                          15|
|        MA|          257|                          29|
|        MD|          257|                           2|
+----------+-------------+----------------------------+
only showing top 20 rows

In [149]:
count_visitor_state_airports.orderBy("Airport Count").show()

+----------+-------------+----------------------------+
|State Code|Airport Count|Visitor Count for April 2016|
+----------+-------------+----------------------------+
|        DC|           21|                          24|
|        HI|           64|                          52|
|        VT|          102|                           9|
|        NV|          156|                          23|
|        UT|          170|                           1|
|        MD|          257|                           2|
|        MA|          257|                          29|
|        AZ|          359|                          15|
|        NJ|          442|                          45|
|        NC|          473|                           6|
|        OR|          492|                           4|
|        CO|          505|                           2|
|        GA|          522|                          41|
|        MI|          549|                          12|
|        MN|          569|                           4|
|        WA|          578|                          16|
|        LA|          592|                           1|
|        WI|          624|                           1|
|        NY|          668|                         169|
|        OH|          799|                           5|
+----------+-------------+----------------------------+
only showing top 20 rows

<a id='scenarios'></a>
## 6. Further Scenarios and Approaches

### Data Update Frequency
1. The immigration data is grouped by year and month so that it would make sense to append new data on a monthly basis. It would be important to ensure that the id columns for the visitors dimension and us immigrations fact table stay unique.
1. The airport data can be independently updated of the other datasets, if new information is available existing records should either be updated (i.e. an Airport closes) or new records added (a new Airport opened). Anyways, it would make sense to align the update frequency with the immigration data as long as it is part of the same data pipeline.
1. The processed US demographic data covers the year 2015. The table should be updated based on the frequency of the US census surveys. An additional column to group and partition the data by year or month would be required. This would allow to append new survey data. The updates can be done independently of the other raw dataset updates, which would require an additional pipeline.

Independently it would require to change the cleaning and ETL implementation so that the existing database will be updated. Tools like Airflow could be used to schedule those updates and to allow multiple pipelines.
 
### The data was increased by 100x.
For a smooth data assessment Pyspark instead of Pandas would be required. Pandas could still be used on sample data. Currently, a Spark single-node (standalone installation) can be used to process the data in an appropriate time. This won't be possible anymore when the data increased by 100x. A Spark cluster to compute the processing using multiple nodes would be required, e.g. AWS EMR could be leveraged. The use of AWS S3 would be mandatory as data storage layer for the Spark cluster. The usage of a local disk would not be recommended, because of network latency, disk io, S3 options like backup, lifecycle rules and data tiering.

### The pipelines would be run on a daily basis by 7 am every day.
A workflow engine, e.g. Airflow or Luigi, should be used to create a DAG (direct acyclic graph) defining the data pipeline steps. Such tools are made for scheduling tasks or workflows described as DAG. Additionally, they provide monitoring of data pipelines and a Web GUI, which increases maintainability and accessibility.

### The database needed to be accessed by 100+ people.
A large analytics teams should use a Spark cluster instead of a Spark single-node (standalone installation) so that the processing can be distributed within the cluster, e.g. AWS EMR. Additionally, AWS S3 data lake will be mandatory. Furthermore, the ETL could be adapted to load the data into a traditional Cloud Data Warehouse (i.e. AWS Redshift), which is made for massive parallel processing. The costs and organization data engineering knowledge as well as the data consumers (BI apps, e.g. Metabase, Superset) are factors to consider for such a decision.

<a id='issues'></a>
## 7. Known Issues
1. No global temparature data for US cities for the year 2016 available, so that no average temperature data was considered in the target data model.
1. The `port_id` in `f_us_immigrations` not necessarily matches `iata_code` or `local_code` in `d_us_airports`, because of that partially another encoding was used in immigration dataset.
1. The `city` in `f_us_immigrations` not necessarily matches the `municipality` in `d_us_airports`. Further cleaning would be required.
1. The `city` and `port_id` in `f_us_immigrations` contain cities and ports not in the US. Further cleaning would be required.
1. Some `state_code` not exists in all datasets, e.g. `U-A` only exists in `d_us_airports`, but not in `f_us_immigrations` and `d_us_demo`.